* {
  margin: 0;
  padding: 0;
}
body {
  background: none repeat scroll 0% 0% rgb(239,238,237);
}
a {
  text-decoration: none;
}
/* class default */
.cxt, .hd, .nv, .ls {
  position: relative;
  height: auto;
  width: 99.9%;
}
.e-s {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
}
.e-s i {
  padding: 14px 0;
  font-size: 22px;
}
.e-l {
  float: left;
}
.e-r {
  float: right;
}
.e-bottom {
  position: absolute;
  bottom: 0;
}
.e-top {
  position: absolute;
  top: 0;
}
.e-b {
  clear: both;
}
.e-c {
  margin: 0 auto;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(29, 35, 41, 0.79);
  box-shadow: 0px 0px 100px inset;
}
.off-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /*background-image: url("https://wallwidehd.com/wp-content/uploads/Akashi-Kaikyo-or-Pearl-Bridge-in-Japan-Wallpaper.jpg"); */
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 100% auto;
  background-position: 0px center !important;
}
/* estilos */
.cxt-wrapper {
  height: 800px;
}
.top-index {
  height: 50px;
  background: #FBFBFB;
  border-bottom: 1px solid #F2F0F0 !important;
  position: fixed;
  z-index: 999;
}
.nav-list-index {
  width: 430px;
  height: 100%;
}
.nav-list-index input { 
  width: 200px;
  border-radius: 50px;
  border: medium none;
  padding: 8px;
  font-size: 12px;
  margin-top: 10px;
  background: none repeat scroll 0% 0% #F2EEF8;
  color: #787878;
}
.nav-list-index i {
  position: relative;
  left: -36px;
  color: #FFF;
  background: none repeat scroll 0% 0% rgb(0, 180, 255);
  border-radius: 0px 50px 50px 0px;
  padding: 7px;
  top: 2px;
}
.nav-list-index ul {
  height: auto;
}
.nav-list-index ul > li {
  display: inline-block;
  margin-top: 5px;
  width: 40px;
  text-align: center;
  padding: 0px 20px;
  border-right: 1px solid #ECECEC;
}
.nav-list-index ul > li:nth-child(3) {
  width: 40px;
}
.nav-list-index ul > li:nth-child(5) {
  border: none;
}
.nav-list-index a {
  font-size: 20px;
  text-decoration: none;
  color: #565656;
}
.nav-list-index span {
  font-family: "Arimo",sans-serif;
  text-transform: lowercase;
  text-align: center;
  font-size: 11px;
}
.input-subscribe {
  float: left;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #F5F5F5;
  font-size: 12px;
  position: relative;
  top: 6px;
  width: 180px;
  background: none repeat scroll 0% 0% #EDEDED;
  color: #787878;
}
.sub-list-menu {
  width: 100%;
  height: 40px;
  background: white;
}
.txt-publish {
  width: 95.5%;
  padding: 10px;
  border: none;
  border-top: 1px solid #EAEAEA;
  height: 40px;
  font-size: 12px;
}
.sub-list-menu ul {
  width: 1100px;
  height: 100%;
  margin: 0px auto;
}
.sub-list-menu ul > li {
  display: inline-block;
  padding: 10px;
  margin-left: -5px;
  border-left: 1px solid #F5F5F5 !important;
}
.sub-list-menu ul > li > a {
  font-family: "Arimo",sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: rgb(120, 120, 120);
}
.fa-social-buttons {
  width: 167px;
  height: 100%;
}
.fa-social-buttons li {
  display: inline-block;
}
.fa-social-buttons li > a {
  font-size: 20px;
  padding: 10px;
  color: rgb(215, 208, 208);
}
.cxt-logo-index {
  width: 100px;
  height: 100%;
}
.cxt-logo-index h1 {
  color: #ABABAB;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 8px;
  font-family: "Nothing You Could Do", cursive;
}
.active {
  background: none repeat scroll 0% 0% rgb(0,180,255);
}
.active a {
  color: white !important;
}
.cxt-logo-index img {
  width: 100%;
  height: 100%;
}
.cxt-upload {
  width: 350px;
}
.cxt-upload button {
  background: none repeat scroll 0% 0% #00B4FF;
  border: medium none;
  padding: 6px;
  width: 110px;
  border-radius: 50px;
  color: #FFF;
  position: relative;
  top: 15px;
  font-family: "Hind",sans-serif;
  font-size: 13px;
  float: right;
  margin-right: 30px;
  margin-top: -7px;
}
/* content */
.cxt-slider {
  height: 500px;
  background: black;
}
.profile-index {
  width: 300px;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(6, 8, 18, 0.66);
  box-shadow: 0 0 100px inset;
}
.profile-index > header {
  width: 100%;
  height: 50px;
}
.profile-index > header > div {
  width: 100px;
  height: 100%;
}
.profile-index > header > div:nth-child(1) {
  background: none;
}
.profile-index > header > div:nth-child(1) span {
  color: #FFF;
  float: left;
  padding: 13px;
  font-family: "Cabin",sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  /* background: none repeat scroll 0% 0% rgb(73, 73, 83); */
  width: 45px;
}
.profile-index > header > div:nth-child(1) i {
  color: #24C637;
  font-size: 12px;
  padding: 14px;
  margin-left: -33px;
}
.profile-index > header > div:nth-child(2) {
  background: none;
}
.profile-index > header > div:nth-child(2) i {
  color: white;
  font-size: 30px;
  float: right;
  padding: 3px;
  margin-right: 10px;
}
.profile-preview-index > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #FFF;
}
.profile-preview-index > div > img {
  width: 250px;
  margin-top: 0px;
}
.profile-preview-index h2 {
  font-family: "Cabin",sans-serif;
  color: #ECECEC;
  font-size: 17px;
  text-transform: capitalize;
  width: 200px;
  margin: 10px auto 0px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.57);
}
.profile-preview-index h2 > p {
  font-size: 13px;
  font-weight: 100;
}

.profile-preview-index > h2 > p > code {
  text-transform: lowercase;
  text-decoration: underline;
}
.hd-preview-galery {
  width: 100%;
  height: 35px;
}
.hd-preview-galery > div:nth-child(1) {
  padding: 12px;
}
.hd-preview-galery > div:nth-child(1) a {
  color: #AEBBBF;
  margin-left: 40px;
}
.hd-preview-galery > div:nth-child(1) span {
  font-family: "Cabin",sans-serif;
  font-size: 14px;
  color: #AEBBBF;
  position: relative;
  top: -3px;
}
.hd-preview-galery > div:nth-child(2) {
  width: 90px;
  height: 100%;
}
.hd-preview-galery > div:nth-child(2) li {
  list-style: outside none none;
  display: inline-block;
  padding: 0px 5px;
  margin-top: 3px;
}
.hd-preview-galery > div:nth-child(2) li i {
  color: #AEBBBF;
  font-size: 24px;
}
.ls-proyects {
  width: 200px;
  height: 120px;
  clear: both;
}
.ls-proyects li {
  width: 60px;
  height: 60px;
  background: #2C2A2A;
  display: inline-block;
  margin-left: 2px;
}
.ls-proyects li > img {
  /* none */
}
.image-description {
  width: 500px;
  position: absolute;
  top: 130px;
  left: 130px;
}
.image-description h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 42px;
}
.owner-description {
  width: 400px;
  height: 50px;
}
.owner-picture {
  width: 50px;
  overflow: hidden;
  border-radius: 50px;
  height: 50px;
}
.owner-picture > img {
  width: 100px;
}
.owner-name {
  width: 340px;
  margin-top: 16px;
}
.owner-name p {
  color: white;
  font-family: "Cabin",sans-serif;
  font-weight: 100;
  font-size: 13px;
}
.owner-name p > span {

}
.line {
  width: 53px;
  background: none repeat scroll 0% 0% #D1D1D1;
  height: 2px;
  position: relative;
  top: 8px;
}
.actions-shared {
  width: 320px;
  height: 60px;
  margin-top: 20px;
}
.main-comments {
  width: 160px;
  height: 50px;
}
.e-comments {
  background: none repeat scroll 0% 0% white;
}
.e-comments > i {
  margin-left: 13px;
  margin-top: -2px;
  font-size: 24px;
}
.main-comments p {
  color: #EAEAEA;
  position: relative;
  font-size: 12px;
  top: 20px;
  left: 7px;
}
.main-shared {
  width: 160px;
  height: 50px;
}
.e-shared {
  background: none repeat scroll 0% 0% rgb(255, 73, 73);
  text-align: center;
  color: white;
}
.main-shared p {
  color: rgb(255, 73, 73);
  position: relative;
  font-size: 12px;
  top: 20px;
  left: 7px;
}
.cxt-body-list {
  width: 1340px;
  height: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  top: 50px;
}
.publish {
  width: 215px;
  height: 100%;
  position: fixed;
}
.list-publish-user {
  margin-left: 215px;
  width: 500px;
  height: auto;
  margin-bottom: 60px;
}
.hd-interes-home {
  margin-top: 10px;
  height: 24px;
}
.hd-interes-home h2 {
  font-family: "Arimo",sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #333;
}
.ls-preview-interes {
  width: 200px;
  height: 80px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #DDD;
}
.ls-preview-interes > img {
  width: 100%;
}
.ls-preview-interes > h3 {
  position: absolute;
  border: medium none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Abel",sans-serif;
  letter-spacing: 0.2px;
  font-weight: 100;
  padding: 7px;
  margin-top: 13px;
  text-decoration: underline;
}
#view-video {
  position: relative;
  border: medium none;
  padding: 3px;
  background: none repeat scroll 0% 0% transparent;
  color: #FFF;
  margin-top: 7px;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  letter-spacing: .2px;
}
.cxt-main-form {
  background: none repeat scroll 0% 0% #F3F3F3;
  height: 90px;
  width: 100%;
  border: 1px solid #DDD;
  margin-bottom: 25px;
}
.top-buttons {
  width: 100%;
  height: 46px;
  background: none repeat scroll 0% 0% white;
}
.top-buttons li {
  display: inline-block;
  list-style: outside none none;
  margin-left: 3px;
  border-left: 1px solid rgb(236, 233, 233);
  margin-top: 6px;
}
.top-buttons li button {
  background: none repeat scroll 0% 0% #FFF;
  border: medium none;
  padding: 4px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  font-size: 11px;
  color: #71747B;
  font-family: "Hind", sans-serif;
  line-height: 1;
  margin-top: 2px;
}
.top-buttons li:nth-child(5) button{
  width: 40px;
  background: none repeat scroll 0% 0% rgb(0,180,255);
  height: 46px;
  position: absolute;
  top: 0px;
  border-radius: 0px;
  right: 0px;
  color: white;
  margin-top: 0px;

}
.top-buttons li button i {
  float: left;
  width: 20px;
  font-size: 14px;
  padding-top: 4px;
}
.top-buttons li button p{
  text-align: left;
  position: relative;
  left: 4px;
}
.p-show-message {
  width: 500px;
  height: 35px;
  border: 1px solid #DDD;
  background: none repeat scroll 0% 0% white;
}
.p-show-message p {
  font-family: "Arimo",sans-serif;
  font-size: 13px;
  color: rgb(122, 122, 122);
  text-align: center;
  padding: 11px;
}
.p-show-message p > i {
  font-size: 20px;
  position: absolute;
  left: 34px;
  top: 8px;
}
.cxt-main-form form {
  background: none repeat scroll 0% 0% #F3F3F3;
  height: 100px;
  width: 100%;
}
.cxt-main-form textarea {
  width: 98%;
  height: 100%;
  border: none;
  border-top: 1px solid #F2F2F2;
  padding: 5px;
  font-size: 13px;
  color: #514F4F;
  font-family: "Questrial", sans-serif;
}
.feed-home {
  width: 370px;
  height: 822px;
  background: none repeat scroll 0% 0% #FFF;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid #DDD;
  position: fixed;
  right: 245px;
}
.header-feed-home {

}
.header-feed-home > div:nth-child(1) {

}
.header-feed-home > div:nth-child(2) {
  
}
#button-feed {
  padding: 7px;
  background: none repeat scroll 0% 0% #5C5CFF;
  color: #FFF;
  border: medium none;
  font-family: "Hind",sans-serif;
  font-size: 13px;
  margin: 10px;
  height: 32px;
  border-radius: 20px;
}
#action-login {
  padding: 7px;
  color: #747680;
  border: medium none;
  font-family: "Arimo",sans-serif;
  font-size: 24px;
  background: none;
  position: relative;
  left: -9px;
  top: 5px;
}
.cxt-plush {
  width: 95%;
}
.cxt-plush img {
  width: 100%;
}
.top-stories {
  width: 95%;
  height: 190px;
}
.hd-top-stories {
  width: 100%;
  height: 30px;
  margin-top:5px;
}
.hd-top-stories h3 {
  font-family: "Abel",sans-serif;
  font-size: 14px;
  color: gray;
  text-decoration: underline;
}
.list-top-stories {
  width: 95%;
  margin: 0 auto;
}
.list-top-stories li {
  list-style: none;
  display: block;
  clear: both;
  padding-top: 5px;
}
.list-top-stories li > p{
  float: left;
  font-family: "Arimo",sans-serif;
}
.list-top-stories li > p > a{
  color: #5A5A5A;
  font-size: 13px;
  margin-left: 10px;
}
.sp-stat {
  color: #606060;
  border-radius: 5px;
  margin-left: 0px;
  padding: 3px;
  font-size: 10px;
}
.list-show-publishment {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 4;
}
.top-date-publishment {
  width: 100%;
  background: none repeat scroll 0% 0% #454545;
  margin-top: 10px;
  height: 3px;
}
.date {
  width: 50px;
  height: 50px;
  background: none repeat scroll 0% 0% #454545;
}
.date p {
  font-family: "Arimo",sans-serif;
  text-align: center;
  padding-top: 9px;
  color: white;
  font-size: 14px;
}
.date p > span {

}
.result-date-publishment {
  width: 100%;
  background: none repeat scroll 0% 0% #FFF;
  position: relative;
  z-index: -2;
  margin-top: 15px;
}
.result-date-publishment:nth-child(1) {
  margin-top: 10px !important;
}
.status {
  height: auto;
  padding-bottom: 10px;
}
.foto {
  height: 350px;
}
.video {
  height: 394px;
}
.arrows-home {
  width: 35px;
  height: 26px;
}
.arrows-home li {
  display: inline-block;
  list-style: outside none none;
  cursor: pointer;
}
.arrows-home li > i {
  font-size: 17px;
  color: rgb(210, 210, 210);
}
.top-events {
  margin-top: 10px;
  height: 420px;
  background: none repeat scroll 0% 0% white;
  width: 95%;
}
.top-events img {
  width: 100%;
}
.ls-events  {
  cursor: pointer;
}
.ls-events h2 {
  position: absolute;
  color: white;
  font-family: "Abel",sans-serif;
  font-weight: 100;
  width: 80%;
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid white;
  margin-left: 30px;
  z-index: 33;
  -moz-transition:all .5s;
}
.top-user-main {
  width: 100%;
  height: 30px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  border-top: 1px solid rgb(237, 237, 237);
}
.top-user-main p {
  font-family: "Hind",sans-serif;
  font-size: 13px;
  padding: 5px;
  color: gray;
  border-bottom: 1px solid #E1E1E1;
}
.top-user-main p > code {
  background: none repeat scroll 0% 0% #688FFF;
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 10px;
}
.main-image {
  width: 100%;
  height: 82%;
}
.main-image img {
  width: 100%;
  height: 100%;
}
.main-video {
  width: 100%;
  height: 330px;
}
.main-video img {
  width: 100%;
  height: 100%
}
.main-video p {
  position: absolute;
  z-index: 2;
  color: #FFF;
  top: 144px;
  left: 220px;
  font-size: 60px;
}
.main-post {
  width: 96%;
  height: auto;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  margin: 8px auto 0px;
  border-radius: 9px;
}
.main-post p {
  padding: 7px;
  font-size: 13px;
  font-family: "Questrial",sans-serif;
  line-height: 1.2;
  letter-spacing: 0.3px;
  background: none repeat scroll 0% 0% #F6F6F6;
  color: #575454;
}
.action-user-request {
  width: 100%;
  height: 30px;
  position: relative;
  bottom: -9px;
  border-top: 1px solid rgb(231, 231, 231);
}
.action-user-request > div {
  width: 200px;
  float: right;
}
.action-user-request > div > button {
  float: right;
  border: none;
  background: none;
  width: 40px;
  border-right: 1px solid #E3E3E3 !important;
  padding: 6px;
}
.action-user-request > div > button > i {
  color: #ABABAB;
}
.date-l {
  float: right;
  padding: 2px;
  color: #BCB9B9;
}
.modal {
  font-size: 12px;
  text-align: center;
  color: white;
  margin-top: 20px;
  background: #F85D5D;
  padding: 4px;
}
.cxt-request {
  width: 100%;
  height: 30px;
  clear: both;
  margin-top: 8px;
}
.cxt-request  input {
  height: 100%;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #E4E4E4;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  background: none repeat scroll 0% 0% #FFF;
  color: #080032;
  padding: 6px;
  width: 97.6%;
  font-size: 13px;
}
.cxt-show-comments {
  width: 100%;
  height: auto;
  margin-top: 12px;
}
.comment:nth-child(2n+1) {
}
.comment {
  width: 90%;
  height: auto;
  background: none repeat scroll 0% 0% #FFF;
  border-top: 1px solid #EEEAFF;
  padding-bottom: 10px;
  margin: 0 auto;
}
.top-comment-ls {
  margin-top: 4px;
  clear: both;
}
.top-comment-ls img {
  width: 40px;
  height: 40px;
  background: none repeat scroll 0% 0% #E6E4E4;
  border-radius: 50%;
  margin: 6px;
  float: left;
}
.l-title {
  font-weight: 100;
  font-size: 13px;
  padding: 3px;
  position: relative;
  top: 5px;
}
.l-title code {
  font-size: 10px;
  text-decoration: underline;
  color: gray;
}
.l-comment {
 font-size: 13px;
  padding: 3px;
  position: relative;
  top: 1px;
  color: black;
  font-weight: 400; 
}
.show-more {
  width: 100%;
  height: 20px;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  color: #8585F2;
  cursor: pointer;
  padding-top: 5px;
}
