/*reset*/
*{margin:0;padding:0;}
p, a, h1, h2, h3, h4, h5, h6, span{font-family:arial;}
label{font-family: "Arimo", sans-serif; color: #423F3F; font-size: 15px;}
.cxt-content-list{width: 100%; height: 100%; background: rgb(246, 238, 245); padding-bottom: 50px;)}
.cxt-content-list > ul{}
.cxt-content-list > ul > li{display: inline-block; margin: 20px 7.8px;}
.cxt-images > div{width: 250px; height: 300px;background: rgb(219, 217, 217);position:relative;}
.cxt-images > div > div{position:relative;}
.cxt-images > div > div:nth-child(1){width: 100%; height: 90%;}
.cxt-images > div > div:nth-child(1) > img{width: 100%; height: 100%; background: black;}
.cxt-images > div > div:nth-child(1) > h2{bottom: 0px; position: absolute; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.67); width: 96.5%; text-align: right; color: #FFF; font-weight: 100; padding: 4px; font-family: "Cabin",sans-serif; font-size: 20px;}
.cxt-images > div > div:nth-child(2){width: 100%; height: 20px;}
.cxt-images > div > div:nth-child(2) > div{float: left; font-size: 16px; padding: 0 5px; height: 30px; background: none repeat scroll 0% 0% #96FF8B;color:#3F3F3F; border-right: 1px solid rgb(234, 222, 222);}
.cxt-images > div > div:nth-child(2) > div > p{padding: 8px; font-size: 13px;font-family: "Cabin",sans-serif;}
.cxt-images > div > div:nth-child(2) > div:nth-child(3){width:145px; border: none; text-align: right;}