.e-p{width: 45% !important; border-left: 1px solid rgb(230, 230, 230);}
.cxt-left{float:left;position:relative;}
.cxt-right{float:right;position:relative;}
.active{box-shadow: 0px -3px rgb(255, 0, 189) inset;}