/*home*/
.hd-index{width: 100%; height: 100px; background: rgb(241, 241, 241);}
.hd-index > div:nth-child(1){width: 100%; height: 50%; background:white;}
.hd-index > div:nth-child(2){width: 100%; height: 50%; background:none repeat scroll 0% 0% #F9F9F9;box-shadow: 0px 2px 2px #E9E9E9;}
.nav-logo{width: 200px; height: 100%;}
.nav-logo > img{width: 100px; margin-left: 40px;}
.nav-social-buttons{width: 370px; height: 100%;}
.nav-social-buttons > div{background: white; width: 50px; height: 100%; float: left;}
.nav-social-buttons > div > p{text-align: center; padding: 13px;}
.nav-social-buttons > div > p > span{font-size: 12px; color: rgb(155, 155, 168);}
.hd-formulary{}
.hd-formulary > form{width: 95%; height: 100%;font-size: 14px; color: gray; font-family: arial;margin:0 auto;}
.hd-formulary > form label > span{font-weight: bold; font-family: "Cabin", sans-serif; font-weight: 100; font-size: 12px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.18);}
.hd-formulary > form > div{float: left; height: 70%;margin-top:15px;padding: 0px 20px;position: relative;}
.hd-formulary > form > div:nth-child(1){width: 200px;}
.hd-formulary > form > div:nth-child(1) > select{width: 120px; padding: 3px; border: medium none; color: #C2BBBB; margin-left: 20px; background: #F3F3F3;}
.hd-formulary > form > div:nth-child(2){width: 300px;}
.hd-formulary > form > div:nth-child(2) > input[type="range"]{position: absolute; right: 10px; width: 200px;}
.hd-formulary > form > div:nth-child(3){width: 200px;}
.hd-formulary > form > div:nth-child(3) > input{width: 60px; padding: 3px; border: medium none; text-align: center; color: #D8C9C9;}
.hd-formulary > form > div:nth-child(4){width: 400px;position: relative;}
.hd-formulary > form > div:nth-child(4) > input[type="range"]{position: absolute; right: 10px; width: 200px;}



