* {
    margin: 0px;
    padding: 0px;
}
a, label, span, p, button {
    font-family: "Cabin",sans-serif;
}
.cxt-wrapper {
    width: 90%; 
    height: 1200px; 
    margin: 0 auto;
}
.cxt-main-grapper {
    width: 100%; 
    height: 70px; 
    background: white; 
    border-top: 4px solid rgb(0, 98, 167);
}
.cxt-logo { 
    width: 20%; 
    height: 100%; 
    float: left;
}
.cxt-logo > img {
    width: 200px;   
    height: auto; 
    padding-left: 20px;
}
.cxt-main-right {
    width: 80%; 
    height: 99%; 
    font-family: arial; 
    float: left; 
    font-size: 14px; 
    color: gray;
}
.cxt-main-right> div:nth-child(1) {
    width: 70%; 
    height: 100%;
    float: left;
}
.cxt-main-right > div:nth-child(1) > nav {

}
.cxt-main-right > div:nth-child(1) > nav ul {

}
.cxt-main-right > div:nth-child(1) > nav ul li {
    display: inline-block; 
    float: left; 
    margin: 20px; 
    margin-top: 30px;
}
.cxt-main-right > div:nth-child(1) > nav ul li a {
    text-decoration: none; 
    font-size: 13px; 
    color: gray;
}
.cxt-main-right > div:nth-child(2) {
    text-decoration: none; 
    text-align: center; 
    height: 100%; 
    width: 100px; 
    float: left; 
    color: #FFF; 
    font-weight: bold; 
    background: none repeat scroll 0% 0% #0062A7; 
}
.cxt-main-right > div:nth-child(2) a {
    text-decoration: none; 
    text-align: center; 
    height: 70px; 
    width: 100px; 
    float: left;
    color: #FFF; 
    padding-top: 30px; 
    text-transform: uppercase; 
    font-size: 14px; 
    font-weight: 100;
}
.cxt-main-right > div:nth-child(3) {
    width: 100px; 
    float: left; 
    height: 50px; 
    padding-left: 20px;
}
.cxt-main-right > div:nth-child(3) a {
    text-decoration: none; 
    color: red; 
    float: left; 
    width: 100px; 
    height: 70px; 
    padding-top: 30px;
}
.cxt-div2 {
    width: 100%; 
    height: 500px; 
    background: url("http://delujo.pe/assets/uploads/SU0gTQ==317.png"); 
    background-size: 100% 120%; 
    background-position: 0 -40px;
}
.cxt-div2 > button:nth-child(1) {
    height: 50px; 
    width: 120px; 
    background: rgb(0, 98, 167); 
    float: left; 
    margin-left: 42%; 
    margin-right: 10px; 
    margin-top: 20px; 
    border: none; 
    color: white; 
    font-weight: 100;
}
.cxt-div2 > button:nth-child(2) {
    height: 50px;
    width: 120px; 
    background: rgb(243, 242, 242); 
    float: left; 
    margin-top: 20px; 
    border: none; 
    color: gray;
}
.cxt-search {
    background: rgb(253, 251, 251); 
    width: 800px; 
    height: 60px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    position: relative; 
    float: left; 
    margin: 30px 20%;
}
.cxt-search > div:nth-child(1) {
    width: 10%; 
    height: 70%; 
    float: left; 
    border-right: 2px solid rgb(235, 231, 231);
    padding: 9px; 
    background: rgb(243, 242, 242);
}
.cxt-search > div:nth-child(1) > select {
    color: #0062A7; 
    font-size: 12px; 
    font-weight: bold; 
    font-family: "Cabin",sans-serif; 
    border: medium none; 
    outline: medium none; 
    background: none repeat scroll 0% 0% rgb(255, 255, 255); 
    padding: 13px; 
    margin-left: -3px;
}
.cxt-search > div:nth-child(2){
    width: 150px; 
    height: 90%; 
    float: left;
}
.cxt-search > div:nth-child(2) > p {
    font-family: "Cabin",sans-serif; 
    font-size: 12px; 
    color: #474444; 
    padding: 18px; 
    margin-top: 6px;
}
.cxt-search > div:nth-child(3) {
    width: 150px; 
    height: 90%; 
    float: left;
}
.cxt-search > div:nth-child(3) > p {
    font-family: "Cabin",sans-serif; 
    font-size: 12px; 
    color: #474444; 
    padding: 18px; 
    margin-top: 6px;
}
.cxt-search > div:nth-child(4) {
    width: 340px; 
    height: 90%; 
    float: left; 
    padding-top: 5px;
}
.cxt-search > div:nth-child(4) > input[type="search"] {
    float: left; 
    width: 310px; 
    height: 20px; 
    margin-left: 10px; 
    margin-top: 5px; 
    font-family: arial; 
    text-transform: lowercase; 
    font-size: 12px; 
    background: none repeat scroll 0% 0% #FDFBFB; 
    padding: 10px; 
    border: 1px solid #E0E0E0 !important;
}
.cxt-search > div:nth-child(5) {
    width: 50px; 
    height: 90%;
    float: left;
}
.cxt-search > div:nth-child(5) > img { 
    width: 30px; 
    height: 30px; 
    margin: 12px;
}
.cxt-div-bottom {
    width: 320px; 
    height: 80px; 
    background: none repeat scroll 0% 0% rgba(11, 9, 9, 0.62); 
    display: inline-block; 
    margin: 120px 200px; 
    position: relative;
}
.cxt-div-bottom > div:nth-child(1) {
    height: 70px;
    width: 30%; 
    float: left;
}
.cxt-div-bottom > div:nth-child(1) > img {
    height: 60px; 
    width: 80px; 
    margin-right: 10px; 
    padding: 8px;
}
.cxt-div-bottom > div:nth-child(2) {
    width: 70%; 
    height: 70px; 
    float: left;
}
.cxt-div-bottom > div:nth-child(2) > p {
    font-family: arial; 
    color: white; 
    font-size: 11px; 
    padding-top: 30px; 
}
.cxt-div-bottom > div:nth-child(2)>p strong {
    font-size: 14px;
    margin-bottom: 10px;
}
.cxt-properites {
    width: 100%; 
    height: 600px;
}
.cxt-filter {
    width: 100%;
    height: 80px; 
    background: white; 
    border-bottom: 1px solid rgb(202, 201, 201);
}
.cxt-filter> div {
    width: 350px; 
    height: 100%; float: left;
}
.cxt-filter > div > p {
    font-size: 11px; 
    padding: 35px 10px; 
    float: left; 
    font-family: arial; 
    color: gray; 
    margin-left: 40px;
}
.cxt-filter > div > p > strong {
    color: rgb(0, 98, 167);
}
.cxt-filter > div > p > span {
    color: orangered; 
    font-weight: bold;
} 
.cxt-filter > div:nth-child(1) {

}
.cxt-filter > div:nth-child(4) {
    width: 40px; 
    height: 100%;
}
.cxt-filter > div:nth-child(4) img { 
    margin-top: 25px; 
    height: 30px; 
    width: 30px; 
    background: black;
    text-align: center; 
    border: none; 
}
.cxt-properites-list {
    width: 95%; 
    height: 600px; 
    font-family: arial;
    margin: 0 auto;
}
.cxt-properites-list > div:nth-child(1) {
    width: 100%; 
    height: 80px; 
} 
.cxt-properites-list > div>div:nth-child(1) { 
    width: 400px; 
    height: 60px;
    float: left;
}
.cxt-properites-list > div>div:nth-child(1) > p {
    color: #0062A7; 
    padding-top: 30px; 
    padding-left: 20px; 
    font-family: "Cabin",sans-serif; 
    text-transform: uppercase; 
    font-size: 18px;
}
.cxt-properites-list > div>div:nth-child(2) {
    width: 150px; 
    height: 100%; 
    float: right; 
    margin-right: 20px; 
}
.cxt-properites-list > div>div:nth-child(2) > button {
    width: 120px; 
    height: 40px; 
    border: 1px solid rgb(223, 223, 223); 
    font-size: 11px; 
    background: none; 
    color: rgb(175, 171, 171); 
    font-weight: bold; 
    margin-top: 20px;
}
.cxt-properites-list > div:nth-child(2) {
    width: 100%;
    height: 400px;
}
.cxt-properites-list > div:nth-child(2) > ul {

}
.cxt-properites-list > div:nth-child(2) > ul > li{
    display: inline-block; 
    font-family: arial;
    padding-left: 20px;
}
.cxt-list1 > div {
    width: 250px; 
    height: 300px;
    background: white;
    border: 1px solid rgb(217, 217, 217);
}
.cxt-list1 > div>div:nth-child(1) {
    width: 100%; 
    height: 200px;
}
.cxt-list1 > div>div:nth-child(1)>img {
    width: 100%; 
    height: 100%;
}
.cxt-list1 > div>div:nth-child(2) {
    width: 100%; 
    height: 100px;
}
.cxt-list1 > div>div:nth-child(2) > p {
    width: 96%; 
    height: 30px; 
    font-size: 11px; 
    color: #B0B0B0; 
    padding-top: 4px; 
    padding-left: 10px; 
    border-bottom: 1px solid #ECEAEA; 
    padding-bottom: 6px;
}
.cxt-list1 > div>div:nth-child(2) > p > strong { 
    font-size: 13px; 
    color: gray;
}
.cxt-list1 > div>div:nth-child(2) > div:nth-child(1) {
    width: 20%; 
    height: 60px; 
    float: right; 
    text-align: center;
}
.cxt-list1 > div>div:nth-child(2) > div:nth-child(1) > p {
    width: 100%; 
    height: 30px; 
    font-size: 12px; 
    color: gray;
}
.cxt-list1 > div>div:nth-child(2) > div:nth-child(2) {
    width: 60%;
    height: 60px; 
    float: left; 
    border-right: 1px solid rgb(217, 217, 217);
}
.cxt-listl > div>div:nth-child(2) > div:nth-child(2) p {
    color: rgb(181, 177, 177); 
    font-size: 11px; 
    margin-top: 20px; 
    margin-left: 10px;
}
.cxt-list1 > div>div:nth-child(2) > div:nth-child(2) p span {
    color: #FF2D00; 
    font-size: 13px; 
    font-weight: 400;
}
.cxt-list1 > div>div:nth-child(2) > div:nth-child(3) {
    width: 30%; 
    height: 60px; 
    float: left;
}
.cxt-list1 > div>div:nth-child(2) > div > img {
    width: 60px; 
    height: 59px; 
    margin-left: 20px;
}
.ftr-end {
    width: 100%; 
    height: 50px; 
    background: none repeat scroll 0% 0% rgba(243, 92, 51, 0.84); 
    border: 1px solid #FE4C4C; 
    margin: 0px auto;
}
.ftr-end> p { 
    font-family: arial; 
    color: white; 
    font-size: 12px; 
    text-align: center;
    padding-top: 20px;
}
