* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* class default */
.cxt, .hd, .nv, .ls {
  position: relative;
  height: auto;
  width: 99.9%;
}
.e-s {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
}
.e-s i {
  padding: 14px 0;
  font-size: 22px;
}
.e-l {
  float: left;
}
.e-r {
  float: right;
}
.e-bottom {
  position: absolute;
  bottom: 0;
}
.e-top {
  position: absolute;
  top: 0;
}
.e-b {
  clear: both;
}
.e-c {
  margin: 0 auto;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 100px inset;
}
.off-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("https://wallwidehd.com/wp-content/uploads/Akashi-Kaikyo-or-Pearl-Bridge-in-Japan-Wallpaper.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 100% auto;
  background-position: 0px center !important;
}
/* estilos */
.cxt-wrapper {
  height: 800px;
}
.top-index {
  height: 70px;
  background: #FBFBFB;
  border-bottom: 1px solid #F2F0F0 !important;
}
.nav-list-index {
  width: 400px;
  height: 100%;
  margin-left: 355px;
}
.nav-list-index ul {
  height: auto;
}
.nav-list-index ul > li {
  display: inline-block;
  margin-top: 16px;
  width: 50px;
  text-align: center;
  padding: 0px 20px;
  border-right: 1px solid #ECECEC;
}
.nav-list-index ul > li:nth-child(3) {
  width: 66px;
}
.nav-list-index ul > li:nth-child(4) {
  border: none;
}
.nav-list-index a {
  font-size: 20px;
  text-decoration: none;
  color: #565656;
}
.nav-list-index span {
  font-size: 12px;
  font-family: "Arimo", sans-serif;
}
.cxt-logo-index {
  width: 100px;
  height: 100%;
  background: blue;
}
.cxt-logo-index img {
  width: 100%;
  height: 100%;
}
.cxt-upload {
  width: 200px;
}
.cxt-upload button {
  background: none repeat scroll 0% 0% #215D89;
  border: medium none;
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  color: #FFF;
  position: relative;
  top: 15px;
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  float: right;
  margin-right: 30px;
}
/* content */
.cxt-slider {
  height: 500px;
  background: black;
}
.profile-index {
  width: 300px;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(6, 8, 18, 0.66);
  box-shadow: 0 0 100px inset;
}
.profile-index > header {
  width: 100%;
  height: 50px;
}
.profile-index > header > div {
  width: 100px;
  height: 100%;
}
.profile-index > header > div:nth-child(1) {
  background: none;
}
.profile-index > header > div:nth-child(1) span {
  color: #FFF;
  float: left;
  padding: 13px;
  font-family: "Cabin",sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  /* background: none repeat scroll 0% 0% rgb(73, 73, 83); */
  width: 45px;
}
.profile-index > header > div:nth-child(1) i {
  color: #24C637;
  font-size: 12px;
  padding: 14px;
  margin-left: -33px;
}
.profile-index > header > div:nth-child(2) {
  background: none;
}
.profile-index > header > div:nth-child(2) i {
  color: white;
  font-size: 30px;
  float: right;
  padding: 3px;
  margin-right: 10px;
}
.profile-preview-index > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #FFF;
}
.profile-preview-index > div > img {
  width: 250px;
  margin-top: 0px;
}
.profile-preview-index h2 {
  font-family: "Cabin",sans-serif;
  color: #ECECEC;
  font-size: 17px;
  text-transform: capitalize;
  width: 200px;
  margin: 10px auto 0px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.57);
}
.profile-preview-index h2 > p {
  font-size: 13px;
  font-weight: 100;
}

.profile-preview-index > h2 > p > code {
  text-transform: lowercase;
  text-decoration: underline;
}
.hd-preview-galery {
  width: 100%;
  height: 35px;
}
.hd-preview-galery > div:nth-child(1) {
  padding: 12px;
}
.hd-preview-galery > div:nth-child(1) a {
  color: #AEBBBF;
  margin-left: 40px;
}
.hd-preview-galery > div:nth-child(1) span {
  font-family: "Cabin",sans-serif;
  font-size: 14px;
  color: #AEBBBF;
  position: relative;
  top: -3px;
}
.hd-preview-galery > div:nth-child(2) {
  width: 90px;
  height: 100%;
}
.hd-preview-galery > div:nth-child(2) li {
  list-style: outside none none;
  display: inline-block;
  padding: 0px 5px;
  margin-top: 3px;
}
.hd-preview-galery > div:nth-child(2) li i {
  color: #AEBBBF;
  font-size: 24px;
}
.ls-proyects {
  width: 200px;
  height: 120px;
  clear: both;
}
.ls-proyects li {
  width: 60px;
  height: 60px;
  background: #2C2A2A;
  display: inline-block;
  margin-left: 2px;
}
.ls-proyects li > img {
  /* none */
}
.image-description {
  width: 500px;
  position: absolute;
  top: 130px;
  left: 130px;
}
.image-description h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 42px;
}
.owner-description {
  width: 400px;
  height: 50px;
}
.owner-picture {
  width: 50px;
  overflow: hidden;
  border-radius: 50px;
  height: 50px;
}
.owner-picture > img {
  width: 100px;
}
.owner-name {
  width: 340px;
  margin-top: 16px;
}
.owner-name p {
  color: white;
  font-family: "Cabin",sans-serif;
  font-weight: 100;
  font-size: 13px;
}
.owner-name p > span {

}
.line {
  width: 53px;
  background: none repeat scroll 0% 0% #D1D1D1;
  height: 2px;
  position: relative;
  top: 8px;
}
.actions-shared {
  width: 320px;
  height: 60px;
  margin-top: 20px;
}
.main-comments {
  width: 160px;
  height: 50px;
}
.e-comments {
  background: none repeat scroll 0% 0% white;
}
.e-comments > i {
  margin-left: 13px;
  margin-top: -2px;
  font-size: 24px;
}
.main-comments p {
  color: #EAEAEA;
  position: relative;
  font-size: 12px;
  top: 20px;
  left: 7px;
}
.main-shared {
  width: 160px;
  height: 50px;
}
.e-shared {
  background: none repeat scroll 0% 0% rgb(255, 73, 73);
  text-align: center;
  color: white;
}
.main-shared p {
  color: rgb(255, 73, 73);
  position: relative;
  font-size: 12px;
  top: 20px;
  left: 7px;
}