*{
 margin: 0px; 
 padding: 0px;
}
body{ 
 background: #EEF2F5;
}
button {
 cursor: pointer;
}
input, textarea, select {
 color: #7B7373;
}
 /*FONTS*/
@font-face {
 font-family: 'BEBAS';
 src: url('../font/BEBAS.eot');
 src: local('BEBAS'), url('../font/BEBAS.woff') format('woff'), url('../font/BEBAS.ttf') format('truetype');
}

@font-face {
 font-family: 'DINMedium';
 src: url('../font/DINMedium.eot');
 src: local('DINMedium'), url('../font/DINMedium.woff') format('woff'), url('../font/DINMedium.ttf') format('truetype');
}

@font-face {
 font-family: 'apexnewbookwebfont';
 src: url('../font/apexnewbookwebfont.eot');
 src: local('apexnewbookwebfont'), url('../font/apexnewbookwebfont.woff') format('woff'), url('../font/apexnewbookwebfont.ttf') format('truetype');
}

.cxt-wrapper{
 width: 100%;
 height: 800px;
 margin: 0 auto;
}
.hd-pr{
   width: 100%;
    height: 130px;
    margin: 0px auto;
}
.hd-top{
 width: 100%;
 height: 50%;
 background: none repeat scroll 0% 0% #333B62;
 font-family: arial;
}
.hd-top-left{
 width: 800px;
 height: 100%;
 float: left;
}
.hd-top-left>div{
 float: left;
 width: 70px;
 height: 79%;
 text-align: center;
 padding: 12px;
 margin: 10px 15px 0px 0px;
}
.hd-top-left>div:nth-child(1){
 background: none repeat scroll 0% 0% #00F;
 margin-top: -10px;
}
.hd-top-left>div:nth-child(1){
 background: none repeat scroll 0% 0% rgb(0, 147, 255);
 margin-top: -10px;
}
.hd-top-left>div:nth-child(1)>a{
 position: relative;
 font-size: 18px;
 top: 18px;
}
.hd-top-left>div a{
 text-decoration: none;
 color: #FFF;
 font-size: 12px;
 text-transform: capitalize;
 font-family: "BEBAS";
}
.hd-top-right{
 width: 60px;
 height: 99%;
 float: right;
 text-align: center;
 border-left: 1px solid #444C74;
}
.hd-top-right>button{
 width: 30px;
 height: 30px;
 margin-top: 20px;
 border: none;
}
.hd-bot{
 width: 100%;
 height: 50%;
 background: white;
 font-family: arial;
}
.hd-bot-left{
 float: left;
 width: 500px;
 height: 90%;
}
.hd-bot-left>div:nth-child(1){
 width: 170px;
 height: 80%;
 float: left;
}
.hd-bot-left>div:nth-child(1)>ul{
 width: 100%;
  height: 80%;
}
.hd-bot-left>div:nth-child(1)>ul>li{
 display: inline-block;
 width: 30px;
 height: 40px;
 margin: 20px 5px 0px;
}
.hd-bot-left>div:nth-child(1)>ul>li>div{
 width: 30px;
 height: 40px;
 float: left;
 text-align: center;
 padding-left: 20px;
}
.hd-bot-left>div:nth-child(1)>ul>li>div>img{
 width: 30px;
 height: 30px;
}
.hd-bot-left>div:nth-child(2){
 width: 320px;
 height: 80%;
 float: left;
}
.hd-bot-left>div:nth-child(2)>ul{
 width: 100%;
  height: 80%;
}
.hd-bot-left>div:nth-child(2)>ul>li{
 display: inline-block;
 margin: 19px 10px 0px 0px;
 width: 90px;
 height: 22px;
 margin-top: 22px;
 border-right: 1px solid rgb(238, 238, 242);
}
.hd-bot-left>div:nth-child(2)>ul>li:nth-child(3){
 border: none;
 margin-left: 7px;
}
.hd-bot-left>div:nth-child(2)>ul>li>div{
 width: 80px;
 height: 40px;
 float: left;
 text-align: center;
}
.hd-bot-left>div:nth-child(2)>ul>li>div>a{
 text-decoration: none;
 color: #939393;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: 100;
 font-family: "apexnewbookwebfont";
}
.hd-bot-right{
 width: 200px;
 height: 40px;
 float: right;
 text-align: center;
}
.hd-bot-right button{
 width: 60px;
 height: 30px;
 background: none repeat scroll 0% 0% #0093FF;
 border: medium none;
 color: #FFF;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 100;
 margin-top: 18px;
 cursor: pointer;
}
.cxt-content{
 width: 100%;
 height: 600px;
 background: none;
 margin: 0px auto;
}
.cxt-content ul{
 width: 91%;
 margin: 10px auto ;
 height: 100%;
}
.cxt-content ul li{
 margin: 5px  10px;
 cursor:  default; 
}
.ls-cont-pr:hover > div > div:nth-child(1) > p {
 text-decoration:  underline; 
 cursor: pointer; 
}
.ls-cont-pr{
 display: inline-block;
 margin: 20px;
}
.ls-cont-pr>div {
 width: 280px;
 height: 200px;
 background: none repeat scroll 0% 0% #FEFEFE;
 font-family: arial;
 border-radius: 3px;
 border: 1px solid #DBDBDE;
}
.ls-cont-pr>div>div:nth-child(1){
 width: 90%;
 height: 40px;
 padding: 10px 0px 15px;
}
.ls-cont-pr>div>div:nth-child(1)>span{
 color: #B7B6B6;
 text-transform: uppercase;
 font-size: 10px;
 margin-left: 20px;
 font-weight: 100;
 font-family: "apexnewbookwebfont";
}
.ls-cont-pr>div>div:nth-child(1)>p{
 margin-left: 20px;
 line-height: 2.3;
 font-size: 12px;
 color: #434A4E;
 font-family: "apexnewbookwebfont";
}
.ls-cont-pr>div>div:nth-child(2){
 width: 87%;
 height: 50px;
 border: 1px solid #E6E7EA;
 margin: 0 auto;
}
.ls-cont-pr>div>div:nth-child(2)>div:nth-child(1){
 width: 50%;
 height: 70%;
 border-right: 1px solid #E6E7EA;
 float: left;
 margin-top: 6px;
}
.ls-cont-pr>div>div:nth-child(2)>div:nth-child(1)>span{
 float: left;
 font-size: 22px;
 color: #808080;
 font-family: "BEBAS";
 margin-top: 2px;
 margin-left: 20px;
 margin-right: 5px;
}
.ls-cont-pr>div>div:nth-child(2)>div:nth-child(1)>p{
 text-transform: uppercase;
 width: 55px;
 float: left;
 font-size: 9px;
 margin-top: 6px;
 color:#838895;
}
.ls-cont-pr>div>div:nth-child(2)>div:nth-child(2){
 width: 49%;
 height: 70%;
 float: right;
 margin-top: 6px;
}
.ls-cont-pr>div>div:nth-child(2)>div:nth-child(2)>span{
 margin: 5px;
 float: left;
 font-size: 22px;
 color: #808080;
 font-family: "BEBAS";
 margin-top: 2px;
 margin-left: 20px;
 margin-right: 5px;
}
.ls-cont-pr>div>div:nth-child(2)>div:nth-child(2)>p{
 text-transform: uppercase;
 width: 55px;
 float: left;
 font-size: 9px;
 margin-top: 6px;
 color: #B0B6C3;
}
.ls-cont-pr>div>div:nth-child(3){
 width: 85%;
 height: 50px;
 margin: 30px auto 0px;
 border-top: 1px solid #F0F0F0;
 padding: 0px 21px;
 background: #fafbfd;
}
.ls-cont-pr>div>div:nth-child(3)>div{
 float: left;
 width: 33%;
 height: 40px;
  text-align: center;
  margin-top: 8px;
}
.ls-cont-pr>div>div:nth-child(3)>div>img{
 width: 20px;
 height: 20px;
 background: none repeat scroll 0% 0% #E0DBDB;
 float: left;
 margin: 10px -15px 10px 20px;
}
.ls-cont-pr>div>div:nth-child(3)>div>p{
 color: #808080;
 margin-top: 10px;
 font-family: "BEBAS";
 font-size: 13px;
 font-weight: 100;
}
.ls-cont-pr>div>div:nth-child(3)>div:nth-child(1){
  border-right: 1px solid #E6E7EA;
}
.ls-cont-pr>div>div:nth-child(3)>div:nth-child(2){
  border-right: 1px solid #E6E7EA;
}
.ls-cont-pr>div>div:nth-child(3)>div:nth-child(3){
  margin-top: 8px;
}
.ls-cont-pr-2{
 display: inline-block;
 margin: 20px;
}
.ls-cont-pr-2>div {
 width: 280px;
 height: 200px;
 background: none repeat scroll 0% 0% #FEFEFE;
 font-family: arial;
 border-radius: 3px;
 border: 1px solid #DADAE0;
}
.ls-cont-pr-2>div>div:nth-child(1){
 width: 90%;
 height: 40px;
 padding: 10px 0px 15px;
}
.ls-cont-pr-2>div>div:nth-child(1)>span{
 color: #B7B6B6;
 text-transform: uppercase;
 font-size: 10px;
 margin-left: 20px;
 font-weight: 100;
 font-family: "apexnewbookwebfont";
}
.ls-cont-pr-2>div>div:nth-child(1)>p{
 margin-left: 20px;
 line-height: 2.3;
 font-size: 12px;
 color: #434A4E;
 font-family: "apexnewbookwebfont";
}
.ls-cont-pr-2>div>div:nth-child(2){
 width: 85%;
 height: 50px;
 margin: 82px auto 0px;
 border-top: 1px solid #F0F0F0;
 padding: 0px 21px;
}
.ls-cont-pr-2>div>div:nth-child(2)>div{
 float: left;
 width: 33%;
 height: 40px;
  text-align: center;
  margin-top: 8px;
}
.ls-cont-pr-2>div>div:nth-child(2)>div>img{
 width: 20px;
 height: 20px;
 background: none repeat scroll 0% 0% #E0DBDB;
 float: left;
 margin: 10px -15px 10px 20px;
}
.ls-cont-pr-2>div>div:nth-child(2)>div>p{
 color: #808080;
 margin-top: 10px;
 font-family: "BEBAS";
 font-size: 13px;
 font-weight: 100;
}
.ls-cont-pr-2>div>div:nth-child(2)>div:nth-child(1){
 border-right: 1px solid #E6E7EA;
   
}
.ls-cont-pr-2>div>div:nth-child(2)>div:nth-child(2){
 border-right: 1px solid #E6E7EA;
}
.ls-cont-pr-2>div>div:nth-child(3)>div:nth-child(3){
  margin-top: 8px;
}
.ls-cont-pr-3{
 display: inline-block;
 margin: 20px;
}
.ls-cont-pr-3>div {
 width: 280px;
 height: 200px;
 background: none repeat scroll 0% 0% #FEFEFE;
 font-family: arial;
 border-radius: 3px;
 border: 1px solid #DBDBDE;
}
.ls-cont-pr-3>div>div:nth-child(1){
 width: 90%;
 height: 40px;
 padding: 10px 0px 15px;
}
.ls-cont-pr-3>div>div:nth-child(1)>span{
 color: #B7B6B6;
 text-transform: uppercase;
 font-size: 10px;
 margin-left: 20px;
 font-weight: 100;
 font-family: "apexnewbookwebfont";
}
.ls-cont-pr-3>div>div:nth-child(1)>p{
 margin-left: 20px;
 line-height: 2.3;
 font-size: 12px;
 color: #434A4E;
 font-family: "apexnewbookwebfont";
}

.ls-cont-pr-3>div>div:nth-child(2){
 height: 50px;
 margin: 82px auto 0px;
 border-top: 1px solid rgb(219, 219, 222);
 width: 100%;
}
.ls-cont-pr-3>div>div:nth-child(2)>div{
 float: left;
 height: 40px;
 text-align: center;
 width: 40%;
 margin-top: 8px;
 border-left: 1px solid rgb(219, 219, 222);
 margin-left: 20px;
}
.ls-cont-pr-3>div>div:nth-child(2)>div>img{
 width: 20px;
 height: 20px;
 background: none repeat scroll 0% 0% #E0DBDB;
 float: left;
 margin: 10px;
}
.ls-cont-pr-3>div>div:nth-child(2)>div>p{
 color: #808080;
 margin-top: 10px;
}
.indicator{
 position: absolute;
 background: none repeat scroll 0% 0% #F94B4B;
 padding: 2px;
 border-radius: 50%;
 font-size: 10px;
 text-align: center;
 margin-top: -13px;
 height: 14px;
 width: 14px;
 font-family: arial;
 font-weight: bold;
}
.e-s {
 background: none repeat scroll 0% 0% transparent !important;
}
.active {
 border-bottom: 2px solid #61A5E7;
}
.o-1 {
 border-top: 2px solid #E064FF !important;
}
.o-2 {
 border-top: 2px solid #5C80E9 !important;
}
.o-3 {
 border-top: 2px solid #FFB561 !important;
}
.o-0 {
 border-top: 2px solid #18EC18  !important;
}

.hd-search{
 width: 270px;
 height: 70%;
 float: left;
 margin-left: 180px;
}

.hd-search>input{
 width: 230px;
 height: 30px;
 margin-top: 16px;
 border:none;
}
.hd-search>div{
 height: 30px;
 width: 41px;
 float: right;
 margin-top: -30px;
 background: none repeat scroll 0% 0% #0093FF;
 text-align: center;
 }
.hd-search>div>i{
 color: #FFF;
 margin-left: 4px;
 margin-top: 29px;
 position: relative;
 top: 4px;
 font-size: 14px;
}
.overlay{
 width: 100%;
 height: 100%;
 position: fixed;
 background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.62);
 top: 0;
 display: none;
}
.f-fetch-date {
 display: none;
}
.fetch-by-date {
  width: 400px;
  height: 250px;
  background: white;
  margin: 160px auto;border-top: 3px solid #4194FF;
}   
.fetch-by-date button {
  width: auto;
  padding: 4px;
  background: none repeat scroll 0% 0% rgb(63, 63, 242);
  border: medium none;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-family: "apexnewbookwebfont";
  min-width: 70px;
}
.h2-filter {
  text-decoration: none;
  color: #1D1C1C;
  text-transform: uppercase;margin-top: 10px;
  font-size: 14px;
  font-weight: 100;
  font-family: "apexnewbookwebfont";
  text-align: center;
  padding: 15px;
} 
.p-filter {
  text-decoration: none;
color: #1D1C1C;
font-size: 13px;
font-weight: 100;
font-family: "apexnewbookwebfont";
text-transform: inherit;
padding: 5px;
margin-left: 75px;
}
.input-element {
  width: 63%;
  height: 45px;
  margin: 0px auto;
}
.input-element > div {
  width: 50px;
  height: 30px;
  float: left;
  margin: 5px;
}
.input-element select {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid rgb(243, 243, 243);
}
.action-buttons-filter {
  margin: 20px auto;
  width: 145px;
}
.cxt-ovr{
  width: 600px;
  height: 500px;
  background: none repeat scroll 0% 0% #FFF;
  margin: 60px auto;
  font-family: arial;
  border-top: 6px solid #6089FF;
  position: relative;
}
.cxt-ovr>div{
 width: 550px;
 margin: 0 auto;
 height: 60px;
}
.cxt-ovr>div:nth-child(1){

}
.cxt-ovr>div:nth-child(1)>p{
 font-size: 15px;
 color: #454242;
 top: 22px;
 position: relative;
 font-family: "apexnewbookwebfont";
}
.cxt-ovr-dv{

}
.cxt-ovr-dv>div:nth-child(1){
 width: 420px;
 height: 35px;
 float: left;
 border: 1px solid #CFCFCF;
 border-radius: 3px;
}
.cxt-ovr-dv>div:nth-child(1)>div:nth-child(1){
 width: 35px;
 height: 100%;
 float: left;
 border-right: 1px solid rgb(207, 207, 207);
 background: #F5F5F5;
}
.cxt-ovr-dv>div:nth-child(1)>div:nth-child(1)>div{
    width: 10px;
    height: 10px;
    background: none repeat scroll 0% 0% rgba(248, 248, 85, 0.83);
    border: 1px solid #F3DF49;
    border-radius: 50%;
    margin-top: 11px;
    margin-left: 11px;
}
.cxt-ovr-dv>div:nth-child(1)>div:nth-child(2){
 width: 378px;
 height: 100%;
 float: left;
}
.cxt-ovr-dv>div:nth-child(1)>div:nth-child(2)>input{
 width: 360px;
 height: 100%;
 border: none;
 color: gray;
 margin-left: 10px;
}
.cxt-ovr-dv>div:nth-child(2){
 width: 90px;
 height: 60%;
 float: right;
 border: 1px solid #CFCFCF;
 border-radius: 3px;
 margin-right: 17px;
}
.cxt-ovr-dv>div:nth-child(2)>button{
 width: 100%;
 height: 100%;
 border: none;
 
}
.cxt-ovr-dv>div:nth-child(2)>button>i{
 font-size: 20px;
 color: #959595;
}
.cxt-ovr-dv2{
 height: 100px !important;
 border: 1px solid #CFCFCF;
 border-radius: 3px;
 display: none;
 left: 18px;
 background: white;
 position: absolute;
}
.cxt-ovr-dv2>div:nth-child(1){
 text-align: center;
 width: 100%;
 height: 20px;

}
.cxt-ovr-dv2>div:nth-child(1)>p{
 font-size: 12px;
 color: #696868;
 font-family: "apexnewbookwebfont";
 margin-top: 20px;
 text-transform: uppercase;
}
.cxt-ovr-dv2>div:nth-child(2){
 width: 78%;
 height: 45px;
 margin: 12px auto;

}
.cxt-ovr-dv2>div:nth-child(2)>div{
 width: 40px;
 height: 37px;
 float: left;
 margin: 1px;
}
.cxt-ovr-dv2>div:nth-child(2)>div>div{
 width: 10px;
 height: 10px;
 background: none repeat scroll 0% 0% rgba(248, 248, 85, 0.83);
 border: 1px solid #F3DF49;
 border-radius: 50%;
 margin-top: 13px;
 margin-left: 14px;
}

.cxt-ovr-btn{
 width: 200px !important;
 height: 50px !important;
 float: right;
 padding-right: 14px;
 position: absolute;
 bottom: 0px;
 right: 0px;
}
.cxt-ovr-btn>div{
 width: 90px;
 height: 40px;
 float: left;
 margin-left: 5px;
 border: 1px solid #CFCFCF;
 border-radius: 5px;
 text-align: center;
}
.cxt-ovr-btn>div>button{
 width: 100%;
 height: 40px !important;
 float: right;
 border:none;
}
.cxt-ovr-btn>div:nth-child(1)>button{
 background: none repeat scroll 0% 0% #FFF;
 color: #2D2D2D;
 text-transform: uppercase;
 font-size: 10px;
 font-family: "apexnewbookwebfont";
}
.cxt-ovr-btn>div:nth-child(2)>button{
 background: none repeat scroll 0% 0% #0093FF;
 color: #FFF;
 text-transform: uppercase;
 font-size: 10px;
 font-family: "apexnewbookwebfont";
}
.yellow{
 border: 2px solid #59A6FE;
 border-radius: 5px;
}
.purple{
 background: #FF00D8 !important;
 border: 1px solid #B4258F !important;
}
.lblue{
 background: #47C2F3 !important;
 border: 1px solid #4B9ACC !important;
}
.sblue{
 background: #B4F6F1 !important;
 border: 1px solid #9ED2F3 !important;
}
.blue{
 background: #9CADF8 !important;
 border: 1px solid #8E93FC !important;
}
.pred{
 background: #F69CF8 !important;
 border: 1px solid #E25BFC !important;
}
.green{
 background: #A3F6AA !important;
 border: 1px solid #78F69D !important;
}
.red{
 background: #FBAEA4 !important;
 border: 1px solid #F67878 !important;
}
.mor{
 background: #D8BCB9 !important;
 border: 1px solid #C39B9B !important;
}
.bblack{
 background: #AAAFCE !important;
 border: 1px solid #9BA0C3 !important;
}
.cxt-ovr-dv3{
 width: 90% !important;
 height: 300px !important;
 margin: 10px auto !important;
}
.cxt-ovr-dv3>form{

}
.cxt-ovr-dv3 form p{
 color: #202020;
 text-transform: uppercase;
 font-size: 10px;
 font-family: apexnewbookwebfont;
 }
.frm-pr1{
 width: 80%;
 height: 200px;
 margin: 0 auto;
}
.frm-mdl-1{
 width: 50%;
 height: 200px;
 float: left;
}
.frm-mdl-1 input{
 width: 200px;
 height: 28px;
 margin: 4px 0px 16px;
 border: none;
 border: 1px solid #E7E7E7;
 border-radius: 3px;
}
.frm-mdl-1 select{
 color: #A2A2A2;
 width: 200px;
 height: 30px;
 background: #F9F9F9;
 border: none;
 margin-top: 10px;
 border-radius: 3px;
}
.frm-mdl-2{
 width: 50%;
 height: 200px;
 float: left;
}
.frm-pr2{
 width: 80%;
 height: 100px;
 margin: 0 auto;
}
.frm-mdl-2 input{
  width: 200px;
  height: 28px;
  margin: 4px 0px 16px;
  border: none;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
}
.frm-pr2>p{
 color: black;
 text-transform: uppercase;
 font-size: 12px;
}
.frm-pr2>input{
 width: 98%;
 height: 80px;
 margin: 0 auto;
 border: none;
 border: 1px solid #E7E7E7;
 border-radius: 3px;
}
.frm-mdl-2 select{
 color: #A2A2A2;
 width: 200px;
 height: 30px;
 background: #F9F9F9;
 border: none;
 margin-top: 10px;
 border-radius: 3px;
}