
*{
 margin: 0px; 
 padding: 0px;
}
body{ 
 background: #EEF2F5;
 font-size: arial;
}

button {
 cursor: pointer;
}

@font-face {
 font-family: 'BEBAS';
 src: url('../font/BEBAS.eot');
 src: local('BEBAS'), url('../font/BEBAS.woff') format('woff'), url('../font/BEBAS.ttf') format('truetype');
}

@font-face {
 font-family: 'DINMedium';
 src: url('../font/DINMedium.eot');
 src: local('DINMedium'), url('../font/DINMedium.woff') format('woff'), url('../font/DINMedium.ttf') format('truetype');
}

@font-face {
 font-family: 'apexnewbookwebfont';
 src: url('../font/apexnewbookwebfont.eot');
 src: local('apexnewbookwebfont'), url('../font/apexnewbookwebfont.woff') format('woff'), url('../font/apexnewbookwebfont.ttf') format('truetype');
}

.cxt-wrapper{
 width: 100%;
 height: 1000px;
 margin: 0 auto;
}
.hd-pr{
   width: 100%;
    height: 130px;
    margin: 0px auto;
}
.hd-top{
 width: 100%;
 height: 50%;
 background: none repeat scroll 0% 0% #333B62;
 font-family: arial;
}
.hd-top-left{
 width: 800px;
 height: 100%;
 float: left;
}
.hd-top-left>div{
 float: left;
 width: 70px;
 height: 79%;
 text-align: center;
 padding: 12px;
 margin: 10px 15px 0px 0px;
}
.hd-top-left>div:nth-child(1){
 background: none repeat scroll 0% 0% #00F;
 margin-top: -10px;
}
.hd-top-left>div:nth-child(1){
 background: none repeat scroll 0% 0% rgb(0, 147, 255);
 margin-top: -10px;
}
.hd-top-left>div:nth-child(1)>a{
 position: relative;
 font-size: 18px;
 top: 18px;
}
.hd-top-left>div a{
 text-decoration: none;
 color: #FFF;
 font-size: 12px;
 text-transform: capitalize;
 font-family: "BEBAS";
}
.hd-top-right{
 width: 60px;
 height: 99%;
 float: right;
 text-align: center;
 border-left: 1px solid #444C74;
 position: relative;
}
.hd-top-right>button{
 width: 30px;
 height: 30px;
 margin-top: 20px;
 border: none;
}
.hd-search{
 width: 270px;
 height: 70%;
 float: left;
 margin-left: 180px;
}

.hd-search>input{
 width: 230px;
 height: 30px;
 margin-top: 16px;
 border:none;
}
.hd-search>div{
 height: 30px;
 width: 41px;
 float: right;
 margin-top: -30px;
 background: none repeat scroll 0% 0% #0093FF;
 text-align: center;
 }
.hd-search>div>i{
 color: #FFF;
 margin-left: 4px;
 margin-top: 29px;
 position: relative;
 top: 4px;
 font-size: 14px;
}
.hd-bot{
 width: 100%;
 height: 50%;
 background: white;
 font-family: arial;
}
.hd-bot-left{
 float: left;
 width: 500px;
 height: 90%;
}
.hd-bot-left>div:nth-child(1){
 width: 170px;
 height: 80%;
 float: left;
}
.hd-bot-left>div:nth-child(1)>ul{
 width: 100%;
  height: 80%;
}
.hd-bot-left>div:nth-child(1)>ul>li{
 display: inline-block;
 width: 30px;
 height: 40px;
 margin: 20px 5px 0px;
}
.hd-bot-left>div:nth-child(1)>ul>li>div{
 width: 30px;
 height: 40px;
 float: left;
 text-align: center;
 padding-left: 20px;
}
.hd-bot-left>div:nth-child(1)>ul>li>div>img{
 width: 30px;
 height: 30px;
}
.hd-bot-left>div:nth-child(2){
 width: 320px;
 height: 80%;
 float: left;
}
.hd-bot-left>div:nth-child(2)>ul{
 width: 100%;
  height: 80%;
}
.hd-bot-left>div:nth-child(2)>ul>li{
 display: inline-block;
 margin: 19px 10px 0px 0px;
 width: 90px;
 height: 22px;
 margin-top: 22px;
 border-right: 1px solid rgb(238, 238, 242);
}
.hd-bot-left>div:nth-child(2)>ul>li:nth-child(3){
 border: none;
 margin-left: 7px;
}
.hd-bot-left>div:nth-child(2)>ul>li>div{
 width: 80px;
 height: 40px;
 float: left;
 text-align: center;
}
.hd-bot-left>div:nth-child(2)>ul>li>div>a{
 text-decoration: none;
 color: #939393;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: 100;
 font-family: "apexnewbookwebfont";
}
.hd-bot-right{
 width: 200px;
 height: 40px;
 float: right;
 text-align: center;
}
.hd-bot-right button{
 width: 60px;
 height: 30px;
 background: none repeat scroll 0% 0% #0093FF;
 border: medium none;
 color: #FFF;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 100;
 margin-top: 18px;
 cursor: pointer;
}
.active-emplyes {
 background: none repeat scroll 0% 0% #0093FF;
}
.active-emplyes a {
 color: white !important;
}
.active-emplyes p {
 color: white !important;
}
.cxt-content{
 width: 100%;
 height: 900px;
 margin: 0 auto;
}
.cxt-left{
 width: 200px;
 height: 100%;
 float: left;
 border-right: 1px solid #DEDEDE;
 background: white;
}
.cxt-left ul{
 /*margin-top: 20px;*/
}
.cxt-left ul li{
 display: block;
 width: 100%;
 height: 46px;
 border-bottom: 1px solid rgb(243, 243, 243);
}
.ls-content>div{
 width: 100%;
 height: 90%;
}
.ls-content>div:nth-child(1){
 width: 145px;
 height: 100%;
 float: left;
 margin-left: 0px;
}
.ls-content>div:nth-child(1)>a{
 text-decoration: none;
 color: #69696C;
 top: 14px;
 position: relative;
 text-transform: capitalize;
 font-size: 13px;
 margin-left: 20px;
 font-family: "BEBAS";
 font-weight: 100;
}
.ls-content>div:nth-child(2){
 width: 40px;
 height: 90%;
 float: left;
 text-align: center;
}
.ls-content>div:nth-child(2)>div{
 width: 20px;
 height: 20px;
 border-radius: 50%;
 /*background: none repeat scroll 0% 0% #97979B;*/
 text-align: center;
 margin-top: 12px;
 margin-left: 15px;
}
.ls-content>div:nth-child(2)>div>p{
 font-weight: bold;
 font-family: arial;
 position: relative;
 top: -2px;
 color: rgb(81, 81, 81);
 font-size: 18px;
}
.cxt-right{
 width: 1120px;
 height: 100%;
 float: left;
}
.cxt-right>ul{

}
.cxt-right>ul>li{
 display: block;
 margin-top: 10px;
}
.ls-right{}
.cxt-ls-dv{
width: 550px;
height: 328px;
margin: 10px auto 10px 8px;
border-right: 1px solid #E1E1E1;
border-bottom: 1px solid #E1E1E1;
border-left: 1px solid #E1E1E1;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
background: none repeat scroll 0% 0% #F8F8F8;
border-radius: 4px;
border-top: 2px solid #2B53FF !important;
float: left;
}
.hd-content{
 width: 100%;
 height: 100px;
 border-bottom: 1px solid rgb(224, 224, 224);
 margin: 0px auto;
 background: none repeat scroll 0% 0% rgba(244, 244, 255, 0.54);
}
.hd-cnt-left{
 width: 300px;
 height: 100%;
 float: left;
}
.hd-check{
 width: 21px;
 height: 21px;
 float: left;
 border: medium none;
 margin: 39px 10px;
 position: relative;
 background: none;
 border-radius: 3px;
 cursor: pointer;
 }
.hd-check>i{
 font-size: 21px;
 color: #9E9E9E;
 position: relative;
 top: -2px;
 margin-left: 1.49px;
 background: none repeat scroll 0% 0% transparent;
}
.hd-cont-imag{
 width: 50px;
 float: left;
 text-align: center;
 height: 80px;
 margin-top: 11px;
 margin-left: 10px;
 margin-right: 10px;
  }
.hd-image{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background: none repeat scroll 0% 0% #4DD4B7;
 margin-top: 14px;
 }
.hd-image>img{
}
.hd-name{
 width: 170px;
 height: 100%;
 float: left;
 position: relative;
}
.hd-name-top{
 width: 100%;
 height: 30px;
 float: left;
 top: 20px;
 position: relative;
}
.hd-name-top>p{
 font-size: 13px;
 top: 24px;
 margin-left: 10px;
 font-family: apexnewbookwebfont;
 font-weight: bold;
 text-transform: uppercase;
 color: #454545;
}
.hd-name-bot{
 width: 400px;
 bottom: 5px;
 position: absolute;
 height: 50px;
 margin-left: 10px;
}
.hd-name-bot ul{
 width: 100%
 height:100%;
}
.hd-name-bot ul li{
 width: auto;
 height: 30px;
 display: inline-block;
 margin: 2px;
}
.list-span {
 font-size: 12px;
 font-family: "apexnewbookwebfont";
 position: relative;
 top: -3px;
}
.list-span:hover {
 text-decoration: underline;
 cursor: pointer;
}
.ls-check>i{
 font-size: 20px;
 color: #25B14E;
}
.ls-twitter>i{
 font-size: 20px;
 color: #00C0FF;
}
.ls-facebook>i{
 font-size: 18px;
 color: #7076F9;
 position: relative;
}
.hd-cnt-right{
 width: 155px;
 height: 60px;
 float: right;
 position: relative;
  top: 21px;
}
.hd-cnt-right>ul{

}
.hd-cnt-right>ul>li{
 display: inline-block;
 width: 30px;
 height: 30px;
 margin: 2px;
}
.ls-download>i{
 font-size: 22px;
 color: #BCBCBC;
}
.ls-download>i:hover{
 cursor: pointer;
 text-decoration: underline;
}
.ls-text>i{
 font-size: 20px;
 color: #BCBCBC;
}
.ls-text > i:hover {
 cursor: pointer;
 color:#FF7070;
}
.ls-mail>i{
 font-size: 22px;
 color: #BCBCBC;
 top: 2px;
 position: relative;
}
.ls-mail > i:hover {
 cursor: pointer;
 color:#9843FF;
}
.ls-users>i{
 font-size: 20px;
  color: #BCBCBC;

}
.ls-users > i:hover {
 cursor: pointer;
 color:#61A0FF;
}
.active {
 border-bottom: 2px solid #61A5E7;
}
.active-s{
 border-bottom: 2px solid #FF8181;
}
.cxt-descript{
 width: 100%;
 height: 215px;
 background: none repeat scroll 0% 0% #FFF;

}
.cxt-descript p{
 margin-left: 20px;
 margin-top: 5px;
}
.cxt-descript p:nth-child(2){ 
 color: #4D4C4C;
 font-size: 12px;
 font-family: apexnewbookwebfont;
 text-transform: capitalize;
}
.cxt-descript-left{
 width: 100%;
 height: 100%;
 float: left;
}
.cxt-descript-left>div{
 width: 96%;
 height: 82px;
 border-bottom: 1px solid #DEDEDE;
 margin: 0px auto;
 position: relative;
 padding: 0px 14px;
}
.cxt-ds-1{
 height: 60px !important;
}
.cxt-ds-1>div{
 width: 128.8px;
 height: 100%;
 float: left;
 border-right: 1px solid #DEDEDE;
}
.cxt-ds-1>div:nth-child(1){

}
.cxt-ds-1>div:nth-child(1)>{

}
strong{
 font-size: 12px;
 text-transform: capitalize;
 font-family: apexnewbookwebfont;
 font-weight: 100;
 color: black;
 text-decoration: underline;
}
.cxt-ds-1>div:nth-child(2){

}
.cxt-ds-1>div:nth-child(2)>p{
}
.cxt-ds-1>div:nth-child(3){
 width: 49%;
 border:none;
}
.cxt-ds-2{

}
.cxt-ds-2>div{
 width: 49%;
 height: 100%;
 float: left;
}
.cxt-ds-2>div:nth-child(1){
 border-right: 1px solid #DEDEDE;
}
.cxt-ds-2>div:nth-child(2){
}
.cxt-ds-3{
 border-bottom: none !important;
}
.cxt-ds-3>div{
 width: 49%;
 height: 100%;
 float: left;
}
.cxt-ds-3>div:nth-child(1){
 border-right: 1px solid #DEDEDE;
}
.cxt-ds-3>div:nth-child(2){}
.indicator {
    position: absolute;
    background: none repeat scroll 0% 0% #F94B4B;
    padding: 2px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    margin-top: -13px;
    height: 14px;
    width: 14px;
    font-family: arial;
    font-weight: bold;
  }
.cxt-right>ul{

}
.cxt-right>ul>li{
 display: block;
 margin-top: 10px;
}
.ls-right-prev{
 width: 1100px;
 height: 600px;
 margin: 10px auto;
 background: none repeat scroll 0% 0% #EEF2F5;
 font-family: "apexnewbookwebfont";
}
.ls-right-prev>ul{
 width: 98%;
 height: 100%;
 margin: 0 auto;
}
.ls-asignation{
 display: block;
 background: white;
}
.ls-content-tbl{
 width: 1080px;
 height: 100%;
 margin: 10px auto;
}
.ls-cont-tbl-gray{
 height: 40px !important;
 width: 99.6%!important;
 border:1px solid #D7D9FF;
}
.ls-cont-tbl-gray>div{
 height: 60%;
 float: left;
 margin-top: 4px;
}
.ls-cont-tbl-gray>div:nth-child(3)>div>p{
 color: blue;
}
.ls-cont-tbl-gray>div:nth-child(5)>div>p{
 color: blue;
}
.ls-cont-tbl-gray p{
 font-size: 12px;
 margin: 8px;
 text-transform: capitalize;
}
.ls-tbl-1{
 width: 30px;
}
.ls-tbl-1>img{
 width: 20px;
 height: 20px;
 margin-top: 4px;
 margin-left: 8px;
}

.ls-tbl-2{
 width: 30px;
}
.ls-tbl-2>input{
 margin-top: 10px;
}
.ls-tbl-3{
 width: 250px;
}
.ls-tbl-3>div{
 float: left;
}
.ls-tbl-3>div:nth-child(1){
 width: 30px;
 height: 100%;
}
.ls-tbl-3>div:nth-child(1)>img{
 width: 20px;
 height: 20px;
 margin-top: 5px;
}
.ls-tbl-3>div:nth-child(2){
 width: 200px;
 height: 100%;
}
.ls-tbl-3>div:nth-child(2)>p{
 font-size: 12px;
}
.ls-tbl-4{
 width: 250px;
}
.ls-tbl-4>div{
 float: left;
}
.ls-tbl-4>div:nth-child(1){
 width: 30px;
 height: 100%;
}
.ls-tbl-4>div:nth-child(1)>img{
 width: 25px;
 height: 25px;
}
.ls-tbl-4>div:nth-child(2){
 width: 200px;
 height: 100%;
}
.ls-tbl-4>div:nth-child(2)>p{
 font-size: 12px;
}
.ls-tbl-5{
 width: 200px;
}
.ls-tbl-5>div{
 float: left;
}
.ls-tbl-5>div:nth-child(1){
 width:140px ;
 height: 100%;
}
.ls-tbl-5>div:nth-child(2){
 width: 30px;
 height: 100%;
}
.ls-tbl-5>div:nth-child(2)>img{

}
.ls-tbl-6{
 width: 120px;
}
.ls-tbl-7{
 width: 155px;
}
.ls-tbl-8{
 width: 40px;

}
.ls-tbl-8>img{
 margin-top: 6px;
}
.cxt-adm-comment{
 width: 610px;
 height: auto;
 display: none;
}
.cxt-dv-adm1{
 width: 500px;
 height: auto;
 margin: 0 auto;
}
.cxt-dv-adm1>input{
 width: 600px;
 height: 30px;
 margin-top: 20px;
 margin-bottom: 20px;
 font-size: 12px;
 border: 1px solid #EDE7E7;
 padding: 7px;
 border-radius: 5px;
 color: gray;
}
.cxt-comments-adm{
 width: 600px;
 height: auto;
 margin-left: 56px;

}
.cxt-comments-adm>ul{
 width: 100%;
 height: auto;
}
.ls-comments-admin{
 display: block;
 margin: 5px;
}

.ls-com-admin{
 width: 600px;
 height: 150px;
 float: left;
 margin: 10px;
}
.ls-photo-1{
 width: 45px;
 height: 45px;
 border-radius: 50%;
 border: 1px solid black;
 float: left;
}
.ls-photo-1>img{
 width: 100%;
}
.ls-comment-cnt{
 width: 547px;
 height: 100px;
 float: left;
}
.hd-cnt-comments{
 width: 100%;
 height: 40px;
}
.hd-cnt-comments>div{
 float: left;
 width: 122px;
 height: 100%;
 margin: 10px;
}
.hd-cnt-comments>div:nth-child(3){
 width: 100px;
 float: right;
}
.hd-cnt-comments>div p{
 font-size: 12px;
 color: black;
 text-transform: capitalize;
 font-family: Cantarell;
}
.hd-cnt-comments>div span{
 color: #808080;
 font-size: 10px;
 font-family: arial;
 top: -4px;
 position: relative;
}
.hd-cnt-comments>div:nth-child(3)>a{
 text-decoration: none;
 color: blue;
 font-size: 12px;
 float: left;
 border-right: 1px solid gray;
 padding-right: 15px;
}
.hd-cnt-comments>div:nth-child(3)>img{
 width: 15px;
 float: left;
 margin-left: 15px;
 margin-top: -5px;
}
.cxt-comment-pr{
 width: 100%;
 height: 50px;
 float: left;
}
.cxt-comment-pr>p{
 font-size: 12px;
 color: gray;
 font-family: 
}
.cxt-load{
 text-align: center;
}
.cxt-load>button{
 width: 300px;
 height: 40px;
 background: none repeat scroll 0% 0% #FFF;
 border: none;
 border-top: 1px solid #F3F3F3;

}
.ls-tbl-avance{
 display: block;
 background: white;
}
.ls-content-tbl{
 width: 1080px;
 height: 100%;
 margin: 10px auto;
}
.ls-cont-tbl-avance{
 height: 40px !important;
 width: 99.6%!important;
}
.ls-cont-tbl-avance>div{
 height: 60%;
 float: left;
 margin-top: 4px;
}
.ls-cont-tbl-avance>div:nth-child(3)>div>p{
 color: orange;
}
.ls-cont-tbl-avance>div:nth-child(5)>div>p{
 color: orange;
}
.ls-cont-tbl-avance p{
 font-size: 12px;
 margin: 8px;
 text-transform: capitalize;
}
.ls-tbl-1{
 width: 30px;
}
.ls-tbl-1>img{
 width: 20px;
 height: 20px;
 margin-top: 4px;
 margin-left: 8px;
}

.ls-tbl-2{
 width: 30px;
}
.ls-tbl-2>input{
 margin-top: 10px;
}
.ls-tbl-3{
 width: 250px;
}
.ls-tbl-3>div{
 float: left;
}
.ls-tbl-3>div:nth-child(1){
 width: 30px;
 height: 100%;
}
.ls-tbl-3>div:nth-child(1)>img{
 width: 20px;
 height: 20px;
 margin-top: 5px;
}
.ls-tbl-3>div:nth-child(2){
 width: 200px;
 height: 100%;
}
.ls-tbl-3>div:nth-child(2)>p{
 font-size: 12px;
}
.ls-tbl-4{
 width: 250px;
}
.ls-tbl-4>div{
 float: left;
}
.ls-tbl-4>div:nth-child(1){
 width: 30px;
 height: 100%;
}
.ls-tbl-4>div:nth-child(1)>img{
 width: 25px;
 height: 25px;
}
.ls-tbl-4>div:nth-child(2){
 width: 200px;
 height: 100%;
}
.ls-tbl-4>div:nth-child(2)>p{
 font-size: 12px;
}
.ls-tbl-5{
 width: 200px;
}
.ls-tbl-5>div{
 float: left;
}
.ls-tbl-5>div:nth-child(1){
 width:140px ;
 height: 100%;
}
.ls-tbl-5>div:nth-child(2){
 width: 30px;
 height: 100%;
}
.ls-tbl-5>div:nth-child(2)>img{

}
.ls-tbl-6{
 width: 120px;
}
.ls-tbl-7{
 width: 155px;
}
.ls-tbl-8{
 width: 40px;

}
.ls-tbl-8>img{
 margin-top: 6px;
}

.ls-tbl-alert{
 display: block;
 background: white;
}
.ls-content-tbl{
 width: 1080px;
 height: 100%;
 margin: 5px auto;
}
.ls-cont-tbl-alert{
 height: 40px !important;
 width: 99.6%!important;
}
.ls-cont-tbl-alert>div{
 height: 60%;
 float: left;
 margin-top: 4px;
}
.ls-cont-tbl-alert>div:nth-child(3)>div>p{
 color: red;
}
.ls-cont-tbl-alert>div:nth-child(5)>div>p{
 color: red;
}
.ls-cont-tbl-alert p{
 font-size: 12px;
 margin: 8px;
 text-transform: capitalize;
}
.ls-tbl-1{
 width: 30px;
}
.ls-tbl-1>img{
 width: 20px;
 height: 20px;
 margin-top: 5px;
 margin-left: 8px;
}

.ls-tbl-2{
 width: 30px;
}
.ls-tbl-2>input{
 margin-top: 10px;
}
.ls-tbl-3{
 width: 250px;
}
.ls-tbl-3>div{
 float: left;
}
.ls-tbl-3>div:nth-child(1){
 width: 30px;
 height: 100%;
}
.ls-tbl-3>div:nth-child(1)>img{
 width: 20px;
 height: 20px;
 margin-top: 5px;
}
.ls-tbl-3>div:nth-child(2){
 width: 200px;
 height: 100%;
}
.ls-tbl-3>div:nth-child(2)>p{
 font-size: 12px;

}
.ls-tbl-4{
 width: 250px;
}
.ls-tbl-4>div{
 float: left;
}
.ls-tbl-4>div:nth-child(1){
 width: 30px;
 height: 100%;
}
.ls-tbl-4>div:nth-child(1)>img{
 width: 25px;
 height: 25px;
}
.ls-tbl-4>div:nth-child(2){
 width: 200px;
 height: 100%;
}
.ls-tbl-4>div:nth-child(2)>p{
 font-size: 12px;
}
.ls-tbl-5{
 width: 200px;
}
.ls-tbl-5>div{
 float: left;
}
.ls-tbl-5>div:nth-child(1){
 width:140px ;
 height: 100%;
}
.ls-tbl-5>div:nth-child(2){
 width: 30px;
 height: 100%;
}
.ls-tbl-5>div:nth-child(2)>img{

}
.ls-tbl-6{
 width: 120px;
}
.ls-tbl-7{
 width: 155px;
}
.ls-tbl-8{
 width: 40px;

}
.ls-tbl-8>img{
 margin-top: 6px;
}
.cxt-content-prp{
 width: 800px;
 height: 900px;
 margin: 0 auto;

}

.cxt-cont-1{
 width: 800px;
 height: 280px;
 background: #EAEAEA;
 margin: 10px auto;
}
.cxt-cont-1>div{
 width: 50%;
 height: 100%;
 float: left;
}
.cxt-cont-std{

}
.hd-cont-std{
 width: 100%;
 height: 40px;
}
.hd-cont-std>p{
 font-size: 16px;
}
.cxt-cont-dsc{
 width: 95%;
 height: 110px;
 margin: 0 auto;
 background: white;
 border-radius: 3px;
}

.hd-dsc-tbl{
 width: 100%;
 height: 30px;
 top: 10px;
 position: relative;
 margin-bottom: 10px;
}
.hd-dsc-tbl>p{
 font-size: 12px;
 color: gray;
 margin:10px;
}
.cxt-dsc-n1{
 width: 95%;
 height: 20px;
 margin: 0 auto;
}
.cxt-dsc-n1>div{
 float: left;
}
.cxt-dsc-n1 p{
 font-size: 11px;
 margin-top: 5px;
}
.cxt-dsc-n1>div:nth-child(1){
 width: 150px;
 height: 20px;
}
.cxt-dsc-n1>div:nth-child(2){
 width: 30px;
 height: 20px;
}
.cxt-dsc-n1>div:nth-child(3){
 width: 150px;
 height: 20px;
}
.cxt-dsc-n1>div:nth-child(4){
 width: 30px;
 height: 20px;
}
.hd-ls-tsk{
 width: 100%;
 height: 40px;
}
.cxt-cnt-bot{
 width: 95%;
 height: 200px;
 margin: 0 auto;
}
.hd-cnt-bt{
 font-family: arial;
 width: 100%;
 height: 100px;
 margin-top: 30px;
}
.hd-ls-lk{
 width: 100%;
 height: 30px;
 margin-top: 10px;
}
.hd-ls-lk>p{
 font-size: 12px !important;
  color: #666;
  text-transform: uppercase;
}
}
.cxt-links{
 width: 95%;
 height: 70px;
}
.cxt-links a{
 text-transform: capitalize;
 font-size: 12px;
 text-decoration: none;
 color: #0093FF;
 font-weight: bold;
 display: block;
 margin-top: 10px;
}
.cxt-links>div:nth-child(1){
 width: 50%;
 float: left;
 height: 60px;
}
.cxt-links>div:nth-child(2){
 width: 50%;
 float: left;
 height: 60px;
}
.cxt-cont-2{
 width: 800px;
 height: 300px;
 background: white;
}
.cxt-ls-right{

}
.hd-task{
 width: 95%;
 height: 40px;
 font-family: arial;
 margin-top: 10px;
 margin-left: 10px;
}
.hd-task>div:nth-child(1){
 float: left;
 width: 50px;
 margin-right: 20px;
}
.hd-task>div:nth-child(1)>p{
 font-size: 12px;
 color: gray;
 font-weight: bold;
 text-transform: uppercase;
}
.hd-task>div:nth-child(2){
 width: 300px;
 float: left;
}
.hd-task>div:nth-child(2)>p{
 font-size: 11px;
}
.hd-task>div:nth-child(2)>p>span{
 color: gray;
 font-size: 11px !important;
}
.hd-task>div:nth-child(2)>p>a{
 display: inline-block;
 text-decoration: none;
 color:  #0093FF;
 font-size: 10px;
 margin-left: 5px;
}
.cxt-ls-right>ul{
 width: 100%;
 height: auto;
}
.cxt-ls-right>ul>li{}
.ls-cnt-tsk{
 display: block;
 margin: 10px;
}
.cxt-cnt-ts{
 width: 95%;
 height: 60px;
 border: 1px solid #D4D4D4;
 background: white;
}
.cxt-cnt-ts>div{
 float: left;
}
.cnt-chk{
 width: 36px;
 height: 100%;
 border-right: 1px solid #D4D4D4;
}
.cnt-chk>input{
 margin: 15px 0px 0px 10px;
}
.cxt-tbl-content{
 width: 320px;
 height: 100%;
}
.dv-top-ls{
 width: 100%;
 height: 30px;
 border-bottom: 1px solid rgb(212, 212, 212);
}
.dv-top-ls>p{
 font-size: 12px;
 font-family: arial;
 text-transform: capitalize;
 top: 9px;
 position: relative;
 margin-left: 10px;
}
.dv-bot-ls{
 width: 100%;
 height: 30px;
}
.dv-bot-ls>div{
 float: left;
 margin-left: 5px;
 font-family: arial;
}
.dv-bot-ls>div p{
 font-size: 11px;
 margin-top: 9px;
}
.dv-bot-ls>div:nth-child(1){
 width: 100px;
 margin-left: 7px;<
 text-align: center;
}
.dv-bot-ls>div:nth-child(1)>p{
 font-size: 11px;
 text-transform: capitalize;
}
.dv-bot-ls>div:nth-child(1)>p>span{
 color: #0093FF;
}
.dv-bot-ls>div:nth-child(2){
 width: 70px;
}
.dv-bot-ls>div:nth-child(2)>p{
 color: #FF4949;
 font-weight: bold;
}
.dv-bot-ls>div:nth-child(3){
 width: 30px;
 height: 30px;
}
.dv-bot-ls>div:nth-child(4){
 width: 95px;
}
.cxt-line{
 width: 100%;
 height: 60px;
 margin: 10px 0px;
 background: white;
 margin: 10 auto;
}
.cxt-line>div{
 width: 48%;
 height: 50px;
 float: left;
 border: 1px solid gray;
 margin-left: 10px;

}
.cxt-line-l{

}
.cxt-line-r{
 
}