*{
 margin:0px; padding: 0px;
}

.cxt-wrapper {
 width: 100%;
 height: 800px;
 margin: 0 auto;
 background: black;
 margin: 0 auto;
 position: absolute;
}
.cxt-content{
 width: 55%;
 height: 60%;
 background: none repeat scroll 0% 0% rgb(28, 28, 30);
 margin: 150px auto;
}
.cxt-content-pr{
 width: 310px;
 height: 70%;
 margin: 0px auto;
 position: relative;
 top: 80px;
}
.cxt-content-pr>div{
 display: block;
 width: 300px;
 height: 45px;
 background: none repeat scroll 0% 0% #FFF;
 border-radius: 5px;
 border: 1px solid #000;
 margin: 5px;
}
.cxt-acceso{
 border: none !important;
 background: none !important;
}
.cxt-acceso>h2{
 color: white;
 text-align: center;
 text-transform: capitalize;
 background: none;
}
.imp-1{


}
.imp-1>div{
 float: left;
}
.imp-1>div:nth-child(1){
 width: 20%;
 height: 99%;
 border: medium none;
 background: #C5C2C2;
 border-right: 1px solid #C5C2C2;
 text-align: center;

}
.imp-1>div:nth-child(1)>img{
 width: 30px;
 height: 30px;
}
.imp-1 div:nth-child(2){
 height: 96%;
 float: left;
 width: 79%;
}
.imp-1 div:nth-child(2)>input{
 width: 100%;
 height: 100%;
}
.imp-2>div{
 float: left;
}
.imp-2>div:nth-child(1){
 width: 20%;
 height: 99%;
 border: medium none;
 background: #C5C2C2;
 border-right: 1px solid #C5C2C2;
 text-align: center;
}
.imp-2>div:nth-child(1)>img{
 width: 30px;
 height: 30px;
}
.imp-2 div:nth-child(2){
 height: 96%;
 float: left;
 width: 79%;
}
.imp-2>div:nth-child(2)>input{
 width: 100%;
 height: 100%;
}
.imp-button{

 height: 40px;

}
.imp-button>button{
     width: 100%;
     height: 99%;
     background: none repeat scroll 0% 0% #0AA26C;
     color: #FFF;
     border: none;
     font-size: 14px;
}
footer{
 width: 300px;
 height: 50px;
 margin: 200px 30%;
 text-align: center;

} 
footer>p{
 color: white;
 font-size: 10px;
 margin-top:10px; 
}