*{
 margin: 0px; 
 padding: 0px;
}
body{ 
 background: #EEF2F5;
 font-size: arial;
}

button {
 cursor: pointer;
}

@font-face {
 font-family: 'BEBAS';
 src: url('../font/BEBAS.eot');
 src: local('BEBAS'), url('../font/BEBAS.woff') format('woff'), url('../font/BEBAS.ttf') format('truetype');
}

@font-face {
 font-family: 'DINMedium';
 src: url('../font/DINMedium.eot');
 src: local('DINMedium'), url('../font/DINMedium.woff') format('woff'), url('../font/DINMedium.ttf') format('truetype');
}

@font-face {
 font-family: 'apexnewbookwebfont';
 src: url('../font/apexnewbookwebfont.eot');
 src: local('apexnewbookwebfont'), url('../font/apexnewbookwebfont.woff') format('woff'), url('../font/apexnewbookwebfont.ttf') format('truetype');
}

.cxt-wrapper{
 width: 100%;
 height: 800px;
 margin: 0 auto;
}

.hd-top{
    width: 100%;
    height: 60px;
    background: none repeat scroll 0% 0% #333B62;
    font-family: arial;
    position: fixed;
    z-index: 5;
}
.hd-top-left{
 width: 600px;
 height: 100%;
 float: left;
}
.hd-top-left>div{
 float: left;
 width: 70px;
 height: 79%;
 text-align: center;
 padding: 12px;
 margin: 10px 15px 0px 0px;
}
.hd-top-left>div:nth-child(1){
 background: none repeat scroll 0% 0% #00F;
 margin-top: -10px;
}
.hd-top-left>div:nth-child(1){
 background: none repeat scroll 0% 0% rgb(0, 147, 255);
 margin-top: -11px;
}
.hd-top-left>div:nth-child(1)>a{
 top: 20px;
 position: relative;
}
.hd-top-left>div:nth-child(2){
 width: 300px;
 height: 60%;
 float: left;
 margin-top: 1px;
}
.hd-top-left>div:nth-child(2)>ul{
 width: 240px;
 height: 99%;
 margin-top: 5px;
 margin-left: -16px;
}
.hd-top-left>div:nth-child(2)>ul>li{
 display: inline-block;
}
.hd-top-left>div:nth-child(2)>ul>li>div{
 width: 40px;
 height: 99%;
 float: left;
}
.hd-top-left>div:nth-child(2)>ul>li>div>img{
 width: 25px;
 height: 25px;
}

.hd-top-left>div:nth-child(2)>ul>li:nth-child(3)>div{
 width: 150px;
 height: 99%;
 position: relative;
}
.hd-top-left>div a{
 text-decoration: none;
 color: #FFF;
 font-size: 18px;
 text-transform: capitalize;
 font-family: "BEBAS";
}
.hd-top-left-2{
 width: 650px;
 height: 90%;
 float: left;
 margin-left: 34px;
 margin-top: -4px;
}
.hd-top-left-2>div{
 width: 33.33%;
 height: 90%;
 float: left;
}

.hd-left-crl{
 text-align: center;
 width: 28% !important;

}
.hd-left-crl>div{
 width: 30px;
 height: 30px;
 float: left;
 border-radius: 50%;
 border: 1px solid #969696;
 margin: 19px 5px 0px;
}
.hd-left-crl>div>p{
 color: #D4D4D4;
 font-size: 11px;
 margin-top: 8px;
 text-transform: uppercase;
 text-align: center;
 font-family: "DINMedium";
}
.hd-left-txt{

}
.hd-left-txt>div{
 width: 50%;
 height: 80%;
 float: left;
 margin-top: 17px;
}
.hd-left-txt>div>div:nth-child(1){
 width: 26%;
 height: 100%;
 float: left;
 text-align: right;
}
.hd-left-txt>div>div:nth-child(1)>p{
 font-size: 26px;
 color: #DBDBDB;
 font-weight: bold;
 margin-right: -5px;
 font-family: "BEBAS";
 margin-top: -5px;
}
.hd-left-txt>div>div:nth-child(2){
 width: 60%;
 height: 100%;
 float: left;
 margin-left: 8px;

}
.hd-left-txt>div>div:nth-child(2)>p{
 color: #BDBDBD;
 font-size: 10px;
 margin-top: 5px;
 text-transform: uppercase;
 line-height: 1;
 font-family: "DINMedium";
}
.hd-left-icn{

}
.hd-left-icn  > div {
 float: left;
 padding: 10px;
 margin-top: 15px;
}
.hd-left-icn > div > img {

}
.hd-top-right{
 width: 60px;
 height: 99%;
 float: right;
 text-align: center;
 border-left: 1px solid #444C74;
}
.hd-top-right>button{
 width: 30px;
 height: 30px;
 margin-top: 20px;
 border: none;
}

.cxt-content{
 width: 100%;
 height: 100%;
 font-family: arial;
}
.cxt-content-left{
 width: 55%;
 height: 100%;
 float: left;
}

.cxt-tsk-1{
 height: 294px;
 border-radius: 3px;
 border: 1px solid #D3D3D8;
 background: none repeat scroll 0% 0% #FFF;
 position: fixed;
 width: 606px;
 margin: 85px  auto 40px 100px;
}
.cxt-tsk-1>div{
 display: block;
 width: 96%;
 height: 38px;
 margin: 0px auto;
 border-bottom: 1px solid #F2F2F2;
 padding: 4px;
}
.cxt-tsk-1>div>div:nth-child(1){
 width: 70%;
 height: 90%;
 float: left;
 padding: 5px;
}
.cxt-tsk-1 > div > div:nth-child(1) p{
 font-size: 14px;
 color: #808080;
 font-family: "apexnewbookwebfont";
 margin-top: -2px;
 margin-left: 14px;
}
.cxt-tsk-1>div>div:nth-child(2){
 width: 40px;
 height: 90%;
 float: right;
 text-align: center;
 padding: 4px;
}
.cxt-tsk-1>div>div:nth-child(2)>div{
 width: 13px;
 height: 13px;
 border-radius: 50%;
 border: 1px solid #E0E0E0;
}
.cxt-tsk-1>div:nth-child(1)>div:nth-child(1)>p{
 text-transform: uppercase;
 font-size: 13px;
 color: rgb(144, 144, 144);
 margin: 11px;
 font-family: "apexnewbookwebfont";
}
.cxt-tsk-1>div:nth-child(1)>div:nth-child(2){
 width: 150px;
 height: 40px;
 float: right;
}
.cxt-tsk-1>div:nth-child(1)>div:nth-child(2)>button{
 width: 100%;
 height: 30px;
 background: none repeat scroll 0% 0% #05ACFB;
 color: #FFF;
 border: medium none;
 border-radius: 3px;
 text-transform: uppercase;
 font-size: 12px;
 margin: 2px;
 font-family: "apexnewbookwebfont";
}
.cxt-tsk-1>div:nth-child(2){

}

.cxt-tsk-1>div:nth-child(3){
}

.cxt-tsk-2{
 margin: 390px auto 0px 100px;
 border: 1px solid #D3D3D8;
 border-radius: 3px;
 background: none repeat scroll 0% 0% #FFF;
 position: fixed;
 height: 204px;
 width: 606px;

}
.cxt-tsk-2>div{
 width: 95%;
 height: 50px;
 display: block;
 margin: 0 auto;
}
.cxt-tsk-2>div:nth-child(1){
 border-bottom: 1px solid #F2F2F2;
}
.cxt-tsk-2>div>div:nth-child(1){
 height: 95%;
 float: left;
 width: 80px;
}
.cxt-tsk-2>div>div:nth-child(1)>p{
 margin-top: 18px;
 text-transform: uppercase;
 font-size: 13px;
 color: #909090;
 font-family: "apexnewbookwebfont";
}
.cxt-tsk-2>div>div:nth-child(2){
 width: 150px;
 height: 30px;
 float: right;
 margin: 8px 0px;
}
.cxt-tsk-2>div>div:nth-child(2)> button{
 width: 100%;
 height: 30px;
 background: none repeat scroll 0% 0% #05ACFB;
 color: #FFF;
 border: medium none;
 border-radius: 3px;
 text-transform: uppercase;
 font-size: 12px;
 margin: 2px;
 font-family: "apexnewbookwebfont";
 font-weight: 100;
}
.cxt-tsk-2>div:nth-child(2){
 width: 100%;
 height: 45px;
}
.cxt-tsk-2>div:nth-child(2)>ul{
 overflow-y: scroll;
 height: 154px;
 border-bottom: 1px solid white;
}
.cxt-tsk-2>div:nth-child(2)>ul>li{
 display: block;
 background: none repeat scroll 0% 0% #F5F7FA;
}
.cxt-tsk-2>div:nth-child(2)>ul>li:nth-child(1){
 
}
.cxt-tsk-2>div:nth-child(2)>ul>li:nth-child(2){
 background:#FFF !important;
}
.cxt-tsk-2>div:nth-child(2)>ul>li:nth-child(3){
 background:#E4E9EB !important;
}
.cxt-tsk-2>div:nth-child(2)>ul>li>div{
 width: 100%;
 height: 40px;
 display: block;
 margin: 0 auto;
 border-bottom: 1px solid #F2F2F2;
}
.ls-prev-1>div>div:nth-child(1){
 width: 60px;
 height: 100%;
 float: left;
 border-right: 1px solid #D6CCFF;
 text-align: center;
}
.ls-prev-1>div>div:nth-child(1)>p{
 text-transform: uppercase;
 margin: 13px 20px 0px;
 font-size: 12px;
 color: #808080;
 font-family: "apexnewbookwebfont";
}
.ls-prev-1>div>div:nth-child(2){
 width:  70px;
 height: 100%;
 float: left;
 border-right: 1px solid #D6CCFF;
 text-align: center;
}
.ls-prev-1>div>div:nth-child(2)>p{
 text-transform: capitalize;
 margin: 12px 0px 0px;
 font-size: 14px;
 color: #808080;
 font-family: "apexnewbookwebfont";
}
.ls-prev-1>div>div:nth-child(3){
 height: 100%;
 width: 60px;
 float: left;
 border-right: 1px solid #D6CCFF;
 text-align: center;
}
.ls-prev-1>div>div:nth-child(3)>div{
 width: 27px;
 height: 27px;
 border-radius: 3px;
 margin-top: 7px;
 margin-left: 15px;
}
.blue{
 background: none repeat scroll 0% 0% #5B5BEF;
}
.red{
 background:none repeat scroll 0% 0% #FF7373 !important;
}
.green{
 background:none repeat scroll 0% 0% #46FFB1;
}
.ls-prev-1>div>div:nth-child(3)>div>img{
 width: 100%;
 height: 100%;
}
.ls-prev-1>div>div:nth-child(4){
 width: 120px;
 height: 100%;
 border-right: 1px solid #D6CCFF;
 float: left;
 text-align: center;
}
.ls-prev-1>div>div:nth-child(4)>p{
 text-transform: capitalize;
 font-size: 14px;
 color: #808080;
 font-family: "apexnewbookwebfont";
 margin-top: 12px;
}
.ls-prev-1>div>div:nth-child(5){
 width: 70px;
 height: 100%;
 border-right: 1px solid #D6CCFF;
 float: left;
 text-align: center;
}
.ls-prev-1>div>div:nth-child(5)>p{
 text-transform: capitalize;
 font-size: 12px;
 color: #808080;
 font-family: "apexnewbookwebfont";
 margin-top: 14px;
 }
.ls-prev-1>div>div:nth-child(6){
width: 60px;
height: 100%;
border-right: 1px solid #D6CCFF;
float: left;
text-align: center;
}
.ls-prev-1>div>div:nth-child(6)>img{
 width: 25px;
}
.ls-prev-1>div>div:nth-child(7){
 width: 110px;
 height: 100%;
 float: left;
}
.ls-prev-1>div>div:nth-child(7)>div:nth-child(1){
 width: 49%;
 height: 95%;
 float: left;
 border-right: 1px solid #D6CCFF;
}
.ls-prev-1>div>div:nth-child(7)>div:nth-child(1)>img{
 float: left;
 width: 20px;
 height: 21px;
 margin-top: 11px;
 margin-left: 19px;
}
.ls-prev-1>div>div:nth-child(7)>div:nth-child(2){
 width: 49%;
 height: 95%;
 float: left;
}
.ls-prev-1>div>div:nth-child(7)>div:nth-child(2)>img{
 float: left;
 width: 22px;
 height: 22px;
 margin-top: 10px;
 margin-left: 19px;
}
.cxt-content-right{
 width: 40%;
 height: 100%;
 float: left;
 margin-top: 86px;
 background: none repeat scroll 0% 0% rgb(232, 232, 249)
}
.cxt-timeline{
 width: 90%;
 height: 99%;
 margin: 40 auto;
}
.hd-tml{
 width: 100%;
 height: 50px;
 text-align: center;
}
.hd-tml>p{
 text-transform: uppercase;
 margin-left: 20px;
 font-size: 13px;
 font-family: "apexnewbookwebfont";
 background: none repeat scroll 0% 0% #0093FF;
 color: #FFF;
 padding: 6px;
 width: 100%;
}
.cnt-timeline-1{
 margin: 20px auto;
 width: 85%;
 height: 80px;
}
.cnt-timeline-1>div:nth-child(1){
 width: 60%;
 height: 99%;
 float: left;
 border-radius: 3px;
 background: none repeat scroll 0% 0% white;
}
.cnt-timeline-1>div:nth-child(1)>div:nth-child(1){
 width: 72%;
 height: 90%;
 float: left;
}
.cnt-timeline-1>div:nth-child(1)>div:nth-child(1)>p{
color: gray;
margin: 23px 10px;
font-size: 14px;
text-align: right;
font-family: "apexnewbookwebfont";
}
.cnt-timeline-1>div:nth-child(1)>div:nth-child(1)>p>span{
 color: #C8CBE4;
 font-size: 11px;
 font-family: arial;
}

.cnt-timeline-1>div:nth-child(1)>div:nth-child(2){ 
 width: 40px;
 height: 40px;
 border-radius: 50%;
 border: 2px solid rgb(246, 246, 246);
 float: left;
 margin: 18px 5px;
 text-align: center;
}
.cnt-timeline-1>div:nth-child(1)>div:nth-child(2) img{ 
 width: 20px;
 height: 20px;
 position: absolute;
 margin: 9px 2px 0px -10px;
}
 .cnt-timeline-1>div:nth-child(2){
  width: 30%;
  height:90%;
  float: left;
  text-align: center;
}
.cnt-timeline-1>div:nth-child(2)>p{
 font-size: 10px;
 color: #A4A5B7;
 margin-top: 34px;
 text-transform: inherit;
 font-family: arial;
 font-weight: 100;
 background: white;
 border-radius: 0px 5px 5px 0;
}

.cnt-timeline-2{
 margin: 20px auto;
 width: 85%;
 height: 80px;
}
.cnt-timeline-2>div:nth-child(1){
 width: 60%;
 height: 99%;
 float: right;
 border-radius: 3px;
 background: none repeat scroll 0% 0% #FFF;
}
.cnt-timeline-2>div:nth-child(1)>div:nth-child(1){
 width: 72%;
 height: 90%;
 float: left;
}
.cnt-timeline-2>div:nth-child(1)>div:nth-child(1)>p{
 color: gray;
 margin: 23px 10px;
 font-size: 14px;
 text-align: right;
 font-family: "apexnewbookwebfont";
}
.cnt-timeline-2>div:nth-child(1)>div:nth-child(1)>p>span{
 color: #C8CBE4;
 font-size: 11px;
 font-family: arial;
}

.cnt-timeline-2>div:nth-child(1)>div:nth-child(2){ 
 width: 40px;
 height: 40px;
 border-radius: 50%;
 border: 2px solid #F6F6F6;
 float: left;
 margin: 18px 5px;
}
.cnt-timeline-2>div:nth-child(1)>div:nth-child(2)>img{ 
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 9px 2px 0px 10px;
}
.cnt-timeline-2>div:nth-child(2){
 width: 30%;
 height:90%;
 float: right;
 text-align: center;
}
.cnt-timeline-2>div:nth-child(2)>p{
 font-size: 10px;
 font-weight: 100;
 color: #A4A5B7;
 margin-top: 34px;
 text-transform: inherit;
 background: none repeat scroll 0% 0% #FFF;
 border-radius: 5px 0px 0px 5px;
 font-family: arial;
}
.active-status {
 background: none repeat scroll 0% 0% #7BEDB0;
 border: 1px solid #7BEDB0 !important;
}
.warning-status {
 border: 1px solid #FF3D3D !important;
  background: none repeat scroll 0% 0% #FF6464;
 /*-moz-animation: redstatus .8s infinite linear;*/
}
@-moz-keyframes redstatus {
  0% {
    border: 1px solid #BCBCBF;
    background: white;
  }
  100% {
    background: none repeat scroll 0% 0% #FF3D3D;
  border: 1px solid #FF3D3D !important;
  }
}
.new-comments {
 background: none repeat scroll 0% 0% #5159F9;
 color: #FFF;
 padding: 3px;
 border-radius: 5px;
 margin-left: 5px;
 position: relative;
 top: -1px;
}
.overlay-prev{
 width: 100%;
 height: 100%;
 position: fixed;
 background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.62);
 top: 0;
 display: none;
}
.cxt-ovr{
 width: 630px;
 height: auto;
 background: none repeat scroll 0% 0% #FFF;
 font-family: arial;
 padding-bottom: 10px;
 border-top: 4px solid #4B94D2;
 padding-top: 15px;
 margin: 20px auto;
 position: relative;
}
.cxt-overlay-com{
 width: 98%;
 margin: 0px auto;
 height: 560px;
 overflow-y: scroll;
}
.hd-ovr-hd-cont{
 width: 95%;
height: 30px;
border-bottom: 1px solid #E9E9E9;
margin: 0 auto;

}
.overlay-com {
 display: none;
 position: fixed;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.72);
 top: 0;
 z-index: 99;
}
.hd-ovr>div{
 
}
.hd-ovr-1{
 width: 300px;
 height: 100%;
 float: left;
}
.hd-ovr-1>p{
 color: #000E4D;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 100;
 font-family: "apexnewbookwebfont";
 margin-top: 6px;
}
.hd-ovr-2{
 width: 150px;
 height: 100%;
 float: right;
}
.hd-ovr-2>button{
 font-family: arial;
 font-size: 10px;
 font-weight: 100;
 color: #FFF;
 background: #0093FF;
 padding: 3px;
 border-radius: 5px;
 width: 140px;
 text-transform: uppercase;
 position: relative;
 border:none;
}
.cxt-ovr-pr{
 width: 95%;
  height: auto;
  position: relative;
  clear: both;
  border-bottom: 1px solid #E9E9E9;
  margin-left: 13px;
}
.cxt-ovr-pic{
 width: 50px;
 height: 50px;
 float: left;
 position: relative;
 text-align: center;
 border: 1px solid gray;
 margin: 15px;
 border-radius: 5px;
}
.cxt-ovr-pic>img{
 width: 50px;
 height: 50px;
}
.cxt-ovr-txt{
 width: 475px;
 height: 100%;
 float: left;
}
.cxt-ovr-txt>div{
 width: 100%;
 height: 50px !important;
}
.cxt-com-txt-1{
 height: 45px !important;

}
.cxt-com-txt-1>span{
 color: gray;
 font-size: 11px;

}
.cxt-com-txt-1>a{
 text-decoration: none;
 font-size: 11px;
}
.cxt-com-txt-1>p{
 font-size: 12px;
 margin-top: 15px;
}
.cxt-com-txt-1>p>strong{
 text-transform: capitalize;
}
.cxt-ovr-icn{
 width: 28px;
 height: 28px;
 float: left;
 top: 10px;
 right: 0px;
 position: absolute;
}
.cxt-ovr-icn>img{
 width: 25px;
 height: 25px;
}
.cxt-cont-ls{
 width: 100%;
 height: 50px !important;
}
.cxt-cont-ls>ul{}
.cxt-cont-ls>ul>li{
 display: block;
 margin-top: 5px;
}
.cxt-ovr-sc{
 border: 1px solid #E4E4E4;
 background: #F9F9FF;
 height: 50px !important;
}
.cxt-ovr-sc>div{
 float: left;
}
.com-image{
 width: 30px;
 height: 30px;
 margin: 10px;
 border: 1px solid gray;
 border-radius: 3px;

}
.com-txt{
  width: 420px;
 height: 70%;
 position: relative;
 padding-top: 10px;
}
.com-txt>p{
 font-size: 11px;
}
.com-txt>p>strong{
 text-transform: capitalize;
}
.com-txt>span{
 color: gray;
 font-size: 11px;
}
.com-txt>a{
 text-decoration: none;
 font-size: 11px;
}
.cxt-add-comment{
 width: 470px;
 height: 80px;
}
.cxt-add-comment>input{
float: left;
width: 70%;
height: 30px;
margin: 5px;
position: relative;
border: 1px solid #E4E4E4;
border-radius: 5px;
font-size: 11px;
padding-left: 5px;
}
.cxt-add-comment>button{
 width: 70px;
 height: 30px;
 font-size: 10px;
 text-align: center;
 float: left;
 border: none;
 margin-top:7px;
}